---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/v2/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"catchpoint":"","catchpoint-acquired-blocks":0,"catchpoint-processed-accounts":0,"catchpoint-total-accounts":0,"catchpoint-total-blocks":0,"catchpoint-verified-accounts":0,"catchup-time":0,"last-catchpoint":"13700000#CMJSTMIKDPZOBCHJMRKGDKZOQ4FUZ4ZHKDIU623QNUDFM2OTOAFA","last-round":13706914,"last-version":"https://github.com/algorandfoundation/specs/tree/ac2255d586c4474d4ebcf3809acccb59b7ef34ff","next-version":"https://github.com/algorandfoundation/specs/tree/ac2255d586c4474d4ebcf3809acccb59b7ef34ff","next-version-round":13706915,"next-version-supported":true,"stopped-at-unsupported-round":false,"time-since-last-round":902773016}

'
  recorded_at: Fri, 23 Apr 2021 00:33:44 GMT
recorded_with: VCR 5.1.0
