---
http_interactions:
- request:
    method: get
    uri: https://service.oreid.io/api/account/user?account=ore1ryuzfqwy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - ENV[ORE_ID_API_KEY]
      Service-Key:
      - ENV[ORE_ID_SERVICE_KEY]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2ba-s/PCKnoiH6tSWlIWYawc9FSSjsc"
    body:
      encoding: ASCII-8BIT
      string: '{"processId":"30cba6f5da72","accountName":"ore1ryuzfqwy","email":"me+a6396cea1dc3f191e0da5ad89436c47beb689056@example.com","picture":"","name":"Eva
        Smith","username":"hunter-1436a03f1e078652999eb929a56dc13485dee45c","permissions":[{"chainNetwork":"algo_test","chainAccount":"4ZZ7D5JPF2MGHSHMAVDUJIVFFILYBHHFQ2J3RQGOCDHYCM33FHXRTLI4GQ","permissionName":"active","publicKey":"e673f1f52f2e9863c8ec054744a2a52a17809ce58693b8c0ce10cf81337b29ef","privateKeyStoredExterally":false,"externalWalletType":null,"accountType":"native","permission":"active"},{"accountType":"pending","chainAccount":"ore1ryuzfqwy","chainNetwork":"eth_ropsten","permissionName":"active","isDefault":false,"permission":"active"}]}'
  recorded_at: Mon, 29 Mar 2021 02:28:24 GMT
recorded_with: VCR 5.1.0
