<div class="transfers-filters">
  <h2>filters</h2>

  <div class="transfers-filters--filter">
    <h3>account</h3>

    <%= search_form_for @q, url: project_dashboard_accounts_path, method: :get, html: {class: 'transfers-filters--filter--form'} do |f| %>
      <%= f.search_field :first_name_or_last_name_or_nickname_or_email_cont, class: 'transfers-filters--filter--input', placeholder: 'Type name or email', autofocus: true %>
      <%= f.submit 'ok', class: 'transfers-filters--filter--form--submit' %>
    <% end %>
  </div>

  <div class="transfers-filters--clear">
    <%= button_to "clear filters ⌫", project_dashboard_accounts_path, method: :get, disabled: request.params[:q].nil? %>
  </div>
</div>