<div class="transfers-table__transfer transfers-table__transfer--header">
  <div class="transfers-table__transfer__account">
    <%= sort_link(@q, :first_name, [:first_name, :last_name], 'account') %>
  </div>

  <div class="transfers-table__transfer__aml-kyc">
    <%= sort_link(@q, :verifications_created_at, 'aml/kyc date') %>
  </div>

  <div class="transfers-table__transfer__max-investment">
    <%= sort_link(@q, :verifications_max_investment_usd, 'max investment') %>
  </div>

  <div class="transfers-table__transfer__address">
    address
  </div>
</div>