<div class="transfers-table__transfer transfers-table__transfer--summary">
  <div class="transfers-table__transfer__account">
    <%= pluralize(@accounts_all.size, 'account', 'accounts') %>
  </div>

  <div class="transfers-table__transfer__aml-kyc">
    <%= pluralize(@accounts_all.references(:verifications).where.not(verifications: {id: nil}).size, 'account', 'accounts') %>
  </div>

  <div class="transfers-table__transfer__max-investment">
    <%= number_to_currency(@accounts_all.map(&:verification).compact.map(&:max_investment_usd).reduce(&:+)) || '–' %>
  </div>

  <div class="transfers-table__transfer__address">
    <%= pluralize(@project.blockchain_name.present? ? @accounts_all.map(&:"#{@project.blockchain_name}_wallet").compact.size : 0, 'account', 'accounts') %>
  </div>
</div>