<div class="transfers-table__transfer transfers-table__transfer--summary">
  <div class="transfers-table__transfer__aml-kyc">
    –
  </div>

  <div class="transfers-table__transfer__account">
    <%= pluralize(@accounts.size, 'account', 'accounts') %>
  </div>

  <div class="transfers-table__transfer__address">
    –
  </div>

  <div class="transfers-table__transfer__max-investment">
    –
  </div>
</div>