<p>
  Hello <%= @account.name %>.
</p>

<p>
  The task <b><%= @award.name %></b> was not accepted by the project owner.
</p>

<p>
  Find another task to work on and earn awards by visiting the
  <a href="<%= my_tasks_url %>">My Tasks</a>
  section of CoMakery.
</p>

<p>
  Team CoMakery
</p>