<%= turbo_stream_from "project_transfer_batch_size" %>
<%= turbo_frame_tag "project_transfer_batch_size" do %>
  <div id="project_<%= project.id %>_transfer_batch_size" class="project-transfer-batch-size">
    <div class="input-label label-only">
      <div class="input-label-addon">
        Batch size
      </div>
      <%= number_field_tag "project[transfer_batch_size]", project.transfer_batch_size , id: "project_transfer_batch_size", in: 1..250, class: "form-control" %>
    </div>
  </div>
<% end %>
