<% filters = [
  {
    name: 'transferred',
    class_name: 'transfers-filters--filter--options--transferred__active',
    query: { status_eq: 5, filter: 'transferred' },
    present: params[:q] && params[:q][:filter] == 'transferred'
  }
] %>

<% if @project&.token&.present? %>
  <% filters += [
    {
      name: 'ready',
      class_name: 'transfers-filters--filter--options--ready__active',
      query: {
        :transfer_ready => @project.token._blockchain_before_type_cast,
        filter: 'ready'
      },
      present: params[:q] && params[:q][:filter] == 'ready'
    },
    {
      name: 'blocked – needs wallet',
      class_name: 'transfers-filters--filter--options--blocked__active',
      query: {
        :transfer_blocked_by_wallet => @project.token._blockchain_before_type_cast,
        filter: 'needs_wallet'
      },
      present: params[:q] && params[:q][:filter] == 'needs_wallet'
    }
  ] %>
<% end %>

<% filters += [
  {
    name: 'blocked – AML/KYC failed',
    class_name: 'transfers-filters--filter--options--blocked__active',
    query: {:status_eq => 3, "account_latest_verification_passed_false" => 1, filter: 'aml_kyc_failed'},
    present: params[:q] && params[:q][:filter] == 'aml_kyc_failed'
  },
  {
    name: 'blocked – AML/KYC unknown',
    class_name: 'transfers-filters--filter--options--blocked__active',
    query: {:status_eq => 3, "account_latest_verification_passed_null" => 1, filter: 'aml_kyc_unknown'},
    present: params[:q] && params[:q][:filter] == 'aml_kyc_unknown'
  },
  {
    name: 'cancelled',
    class_name: 'transfers-filters--filter--options--blocked__active',
    query: {:status_eq => 6, filter: 'cancelled'},
    present: params[:q] && params[:q][:filter] == 'cancelled'
  }
] %>

<% all_queries = filters.map { |f| f[:query].keys }.flatten %>
<% current_filter = filters.find { |f| f[:present] } %>

<div class="transfers-filters--filter--options">
  <%= select_tag(
    nil,
    options_for_select(
      filters.map { |f| [f[:name], url_for(request.params.merge(q: (request.params[:q] || {}).except(*all_queries).merge(f[:query])))] },
      current_filter && url_for(request.params.merge(q: (request.params[:q] || {}).except(*all_queries).merge(current_filter[:query])))
    ),
    include_blank: 'All',
    id: 'transfers-filters--filter--options--select',
    class: 'status-category-filter-style',
    data: {
      controller: 'gooption',
      action: 'change->gooption#goOption',
      gooption_default_url: url_for(request.params.merge(q: (request.params[:q] || {}).except(*all_queries)))
    }
  ) %>
  <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-arrow" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="6 9 12 15 18 9"></polyline></svg>
</div>
