<%= form_with model: Award.new, url: project_dashboard_transfers_path(@project), class: 'transfers-table__form', data: {target: 'transfer-form.form'} do |f| %>
    <div class="modal modal-blur fade" id="modal-create-vesting-schedule" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title ">Create Transfer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row row-cards">
              <div class="col-lg-6">
                <label class="form-label">Recipient Full Name</label>
                <div class="input-icon">
                  <input type="text" class="form-control" placeholder="Placeholder">
                  <span class="input-icon-addon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="6 9 12 15 18 9"></polyline></svg>
                  </span>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="form-label">Recipient Email Address</label>
                <input type="text" class="form-control" placeholder="Placeholder">
              </div>
              <div class="col-lg-12">
                <label class="form-label">Permissions</label>
                <div class="choices" data-type="select-one" tabindex="0" role="listbox" aria-haspopup="true" aria-expanded="false"><div class="form-select"><select type="text" class="form-select form-control" placeholder="Select a date" id="select-tags" value="" hidden="" tabindex="-1" data-choice="active"><option value="HTML">HTML</option></select><div class="choices__list choices__list--single"><div class="choices__item choices__item--selectable" data-item="" data-id="3" data-value="HTML" data-custom-properties="null" aria-selected="true">HTML</div></div></div><div class="choices__list dropdown-menu" aria-expanded="false"><div class="choices__list" role="listbox"><div id="choices--select-tags-item-choice-1" class="choices__item dropdown-item active choices__item--selectable is-highlighted" role="option" data-choice="" data-id="1" data-value="HTML" data-select-text="Press to select" data-choice-selectable="" aria-selected="true">HTML</div><div id="choices--select-tags-item-choice-2" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="2" data-value="JavaScript" data-select-text="Press to select" data-choice-selectable="">JavaScript</div><div id="choices--select-tags-item-choice-3" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="3" data-value="CSS" data-select-text="Press to select" data-choice-selectable="">CSS</div><div id="choices--select-tags-item-choice-4" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="4" data-value="jQuery" data-select-text="Press to select" data-choice-selectable="">jQuery</div><div id="choices--select-tags-item-choice-5" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="5" data-value="Bootstrap" data-select-text="Press to select" data-choice-selectable="">Bootstrap</div><div id="choices--select-tags-item-choice-6" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="6" data-value="Ruby" data-select-text="Press to select" data-choice-selectable="">Ruby</div><div id="choices--select-tags-item-choice-7" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="7" data-value="Python" data-select-text="Press to select" data-choice-selectable="">Python</div></div></div></div>
              </div>
              <div class="col-lg-6">
                <label class="form-label">Amount</label>
                <div class="input-button">
                  <input type="text" class="form-control" placeholder="Placeholder">
                  <span class="input-text-addon">NOTE</span>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="form-label">Value</label>
                <input type="text" class="form-control" placeholder="$0.00">
              </div>
              <div class="col-lg-12 d-flex align-items-center justify-content-center">
                <label class="form-label-round form-label-round-large h11 font-weight-medium n8-color n3-bg">Total Value: $0.00</label>
              </div>
              <div class="col-lg-6">
                <label class="form-label">Category</label>
                <div class="choices" data-type="select-one" tabindex="0" role="listbox" aria-haspopup="true" aria-expanded="false"><div class="form-select"><select type="text" class="form-select form-control" placeholder="Select a date" id="select-tags" value="" hidden="" tabindex="-1" data-choice="active"><option value="HTML">HTML</option></select><div class="choices__list choices__list--single"><div class="choices__item choices__item--selectable" data-item="" data-id="3" data-value="HTML" data-custom-properties="null" aria-selected="true">HTML</div></div></div><div class="choices__list dropdown-menu" aria-expanded="false"><div class="choices__list" role="listbox"><div id="choices--select-tags-item-choice-1" class="choices__item dropdown-item active choices__item--selectable is-highlighted" role="option" data-choice="" data-id="1" data-value="HTML" data-select-text="Press to select" data-choice-selectable="" aria-selected="true">HTML</div><div id="choices--select-tags-item-choice-2" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="2" data-value="JavaScript" data-select-text="Press to select" data-choice-selectable="">JavaScript</div><div id="choices--select-tags-item-choice-3" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="3" data-value="CSS" data-select-text="Press to select" data-choice-selectable="">CSS</div><div id="choices--select-tags-item-choice-4" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="4" data-value="jQuery" data-select-text="Press to select" data-choice-selectable="">jQuery</div><div id="choices--select-tags-item-choice-5" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="5" data-value="Bootstrap" data-select-text="Press to select" data-choice-selectable="">Bootstrap</div><div id="choices--select-tags-item-choice-6" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="6" data-value="Ruby" data-select-text="Press to select" data-choice-selectable="">Ruby</div><div id="choices--select-tags-item-choice-7" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="7" data-value="Python" data-select-text="Press to select" data-choice-selectable="">Python</div></div></div></div>
              </div>
              <div class="col-lg-6">
                <label class="form-label">Lockup Expiration Date</label>
                <div class="input-icon">
                  <input class="form-control " placeholder="Select a date" id="lockup-exp-datepicker-icon" value="2020-06-20">
                  <span class="input-icon-addon">
                    <svg width="13.5" height="15" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5 0C4.44772 0 4 0.447715 4 1V2H3C1.34315 2 0 3.34315 0 5V7V17C0 18.6569 1.34315 20 3 20H15C16.6569 20 18 18.6569 18 17V7V5C18 3.34315 16.6569 2 15 2H14V1C14 0.447715 13.5523 0 13 0C12.4477 0 12 0.447715 12 1V2H6V1C6 0.447715 5.55228 0 5 0ZM13 4H5H3C2.44772 4 2 4.44772 2 5V6H16V5C16 4.44772 15.5523 4 15 4H13ZM2 17V8L16 8V17C16 17.5523 15.5523 18 15 18H3C2.44772 18 2 17.5523 2 17ZM4 11C4 10.4477 4.44772 10 5 10H7C7.55228 10 8 10.4477 8 11V13C8 13.5523 7.55228 14 7 14H5C4.44772 14 4 13.5523 4 13V11Z" fill="currentColor"></path>
                    </svg>
                  </span>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="form-label">Termination Date</label>
                <div class="input-icon">
                  <input class="form-control " placeholder="Select a date" id="termination-datepicker-icon" value="2020-06-20">
                  <span class="input-icon-addon">
                    <svg width="13.5" height="15" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5 0C4.44772 0 4 0.447715 4 1V2H3C1.34315 2 0 3.34315 0 5V7V17C0 18.6569 1.34315 20 3 20H15C16.6569 20 18 18.6569 18 17V7V5C18 3.34315 16.6569 2 15 2H14V1C14 0.447715 13.5523 0 13 0C12.4477 0 12 0.447715 12 1V2H6V1C6 0.447715 5.55228 0 5 0ZM13 4H5H3C2.44772 4 2 4.44772 2 5V6H16V5C16 4.44772 15.5523 4 15 4H13ZM2 17V8L16 8V17C16 17.5523 15.5523 18 15 18H3C2.44772 18 2 17.5523 2 17ZM4 11C4 10.4477 4.44772 10 5 10H7C7.55228 10 8 10.4477 8 11V13C8 13.5523 7.55228 14 7 14H5C4.44772 14 4 13.5523 4 13V11Z" fill="currentColor"></path>
                    </svg>
                  </span>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="form-label">Commencement Date</label>
                <input type="text" class="form-control" placeholder="Placeholder">
              </div>
              <div class="col-lg-6">
                <label class="form-label">Vesting Cliff Date</label>
                <div class="input-icon">
                  <input class="form-control " placeholder="Select a date" id="vesting-cliff-datepicker-icon" value="2020-06-20">
                  <span class="input-icon-addon">
                    <svg width="13.5" height="15" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5 0C4.44772 0 4 0.447715 4 1V2H3C1.34315 2 0 3.34315 0 5V7V17C0 18.6569 1.34315 20 3 20H15C16.6569 20 18 18.6569 18 17V7V5C18 3.34315 16.6569 2 15 2H14V1C14 0.447715 13.5523 0 13 0C12.4477 0 12 0.447715 12 1V2H6V1C6 0.447715 5.55228 0 5 0ZM13 4H5H3C2.44772 4 2 4.44772 2 5V6H16V5C16 4.44772 15.5523 4 15 4H13ZM2 17V8L16 8V17C16 17.5523 15.5523 18 15 18H3C2.44772 18 2 17.5523 2 17ZM4 11C4 10.4477 4.44772 10 5 10H7C7.55228 10 8 10.4477 8 11V13C8 13.5523 7.55228 14 7 14H5C4.44772 14 4 13.5523 4 13V11Z" fill="currentColor"></path>
                    </svg>
                  </span>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="form-label">Vesting Term</label>
                <div class="choices" data-type="select-one" tabindex="0" role="listbox" aria-haspopup="true" aria-expanded="false"><div class="form-select"><select type="text" class="form-select form-control" placeholder="Select a date" id="select-tags" value="" hidden="" tabindex="-1" data-choice="active"><option value="HTML">HTML</option></select><div class="choices__list choices__list--single"><div class="choices__item choices__item--selectable" data-item="" data-id="3" data-value="HTML" data-custom-properties="null" aria-selected="true">HTML</div></div></div><div class="choices__list dropdown-menu" aria-expanded="false"><div class="choices__list" role="listbox"><div id="choices--select-tags-item-choice-1" class="choices__item dropdown-item active choices__item--selectable is-highlighted" role="option" data-choice="" data-id="1" data-value="HTML" data-select-text="Press to select" data-choice-selectable="" aria-selected="true">HTML</div><div id="choices--select-tags-item-choice-2" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="2" data-value="JavaScript" data-select-text="Press to select" data-choice-selectable="">JavaScript</div><div id="choices--select-tags-item-choice-3" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="3" data-value="CSS" data-select-text="Press to select" data-choice-selectable="">CSS</div><div id="choices--select-tags-item-choice-4" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="4" data-value="jQuery" data-select-text="Press to select" data-choice-selectable="">jQuery</div><div id="choices--select-tags-item-choice-5" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="5" data-value="Bootstrap" data-select-text="Press to select" data-choice-selectable="">Bootstrap</div><div id="choices--select-tags-item-choice-6" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="6" data-value="Ruby" data-select-text="Press to select" data-choice-selectable="">Ruby</div><div id="choices--select-tags-item-choice-7" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="7" data-value="Python" data-select-text="Press to select" data-choice-selectable="">Python</div></div></div></div>
              </div>
              <div class="col-lg-6">
                <label class="form-label">% of Tokens Vesting on Cliff Date</label>
                <input type="text" class="form-control" placeholder="Placeholder">
              </div>
              <div class="col-lg-12">
                <a href="#" class="btn btn-subtle h12">
                  Vesting Schedule Preview
                </a>
              </div>
          </div>
          <div class="modal-footer">
            <a class="btn btn-secondary h12" data-bs-dismiss="modal">Cancel</button>
            <a href="#" class="btn btn-primary" data-bs-dismiss="modal">Create</a>
          </div>
        </div>
      </div>
    </div>
<% end %>
