<%= turbo_stream_from "project_hot_wallet_modes" %>
<%= turbo_frame_tag "project_hot_wallet_modes" do %>
    <div id="project_<%= project.id %>_hot_wallet_mode" class="hot-wallet-switcher" data-controller="hot-wallet-mode-switcher" data-hot-wallet-mode-switcher-update-url="<%= project_path(project) %>">
      <label>
        <input type="checkbox"
          data-action="hot-wallet-mode-switcher#toggle"
          data-target="hot-wallet-mode-switcher.hotWalletMode"
          <% if project.auto_sending? %> checked<% end %>>
        Hot Wallet Auto-Pay
      </label>
    </div>
<% end %>
