<div class="transfers-table__transfer transfers-table__transfer--header">
  <div class="transfers-table__transfer__trid">
    Id
  </div>

  <div class="transfers-table__transfer__created_at">
    Timestamp
  </div>

  <div class="transfers-table__transfer__status">
    Status
  </div>

  <div class="transfers-table__transfer__link">
    Blockchain Transaction
  </div>
</div>