<a class="dropdown-item text-dark"
   role="button"
   data-controller="transfer-types"
   data-action="click->transfer-types#updateTransferFormSrc"
   data-transfer-types-target="transferType"
   data-transfer-type-id="<%= transfer_type.id %>"
   data-bs-toggle="modal"
   data-bs-target="#modal-create-transfer">
  <%= transfer_type.name.titlecase %>
</a>
