<%= render layout: 'projects/project_settings_modal', locals: {back_path: project_dashboard_transfers_path(@project)} do %>
  <div class="transfers-filters">
    <h2>Transfer Transactions</h2>

    <div class="transfers-filters--filter">
      <h3>transfer id</h3>

      <div class="transfers-filters--filter--options">
        <div class="transfers-filters--filter--options__active">
          #<%= @transfer.id %>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: "transfer_history", locals: {transfer: @transfer} %>

  <div class="transfers-pages">
  </div>
<% end %>
