---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/accounts/4ZZ7D5JPF2MGHSHMAVDUJIVFFILYBHHFQ2J3RQGOCDHYCM33FHXRTLI4GQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"account":{"address":"4ZZ7D5JPF2MGHSHMAVDUJIVFFILYBHHFQ2J3RQGOCDHYCM33FHXRTLI4GQ","amount":200000,"amount-without-pending-rewards":200000,"pending-rewards":0,"reward-base":25538,"rewards":0,"round":12992187,"status":"Offline"},"current-round":12992187}

'
  recorded_at: Thu, 18 Mar 2021 16:13:06 GMT
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/accounts/4ZZ7D5JPF2MGHSHMAVDUJIVFFILYBHHFQ2J3RQGOCDHYCM33FHXRTLI4GQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"account":{"address":"4ZZ7D5JPF2MGHSHMAVDUJIVFFILYBHHFQ2J3RQGOCDHYCM33FHXRTLI4GQ","amount":200000,"amount-without-pending-rewards":200000,"pending-rewards":0,"reward-base":25538,"rewards":0,"round":12992187,"status":"Offline"},"current-round":12992187}

'
  recorded_at: Thu, 18 Mar 2021 16:13:06 GMT
recorded_with: VCR 5.1.0
