---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/accounts/YF6FALSXI4BRUFXBFHYVCOKFROAWBQZ42Y4BXUK7SDHTW7B27TEQB3AHSA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"account":{"address":"YF6FALSXI4BRUFXBFHYVCOKFROAWBQZ42Y4BXUK7SDHTW7B27TEQB3AHSA","amount":98632319,"amount-without-pending-rewards":98559995,"apps-local-state":[{"id":13258116,"key-value":[{"key":"YmFsYW5jZQ==","value":{"bytes":"","type":2,"uint":0}},{"key":"dHJhbnNmZXIgZ3JvdXA=","value":{"bytes":"","type":2,"uint":1}}],"schema":{"num-byte-slice":0,"num-uint":4}}],"assets":[{"amount":9994900,"asset-id":13076367,"creator":"","is-frozen":false}],"pending-rewards":72324,"reward-base":25538,"rewards":0,"round":12371903,"sig-type":"sig","status":"Offline"},"current-round":12371903}

'
  recorded_at: Mon, 15 Feb 2021 23:10:37 GMT
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/accounts/YF6FALSXI4BRUFXBFHYVCOKFROAWBQZ42Y4BXUK7SDHTW7B27TEQB3AHSA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"account":{"address":"YF6FALSXI4BRUFXBFHYVCOKFROAWBQZ42Y4BXUK7SDHTW7B27TEQB3AHSA","amount":98632319,"amount-without-pending-rewards":98559995,"apps-local-state":[{"id":13258116,"key-value":[{"key":"YmFsYW5jZQ==","value":{"bytes":"","type":2,"uint":0}},{"key":"dHJhbnNmZXIgZ3JvdXA=","value":{"bytes":"","type":2,"uint":1}}],"schema":{"num-byte-slice":0,"num-uint":4}}],"assets":[{"amount":9994900,"asset-id":13076367,"creator":"","is-frozen":false}],"pending-rewards":72324,"reward-base":25538,"rewards":0,"round":12371903,"sig-type":"sig","status":"Offline"},"current-round":12371903}

'
  recorded_at: Mon, 15 Feb 2021 23:10:37 GMT
recorded_with: VCR 5.1.0
