---
http_interactions:
- request:
    method: get
    uri: https://testnet.qtum.info/api/contract/8cfe9e9893e4386645eae8107cd53aaccf96b7fd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Rate-Limit-Remaining:
      - '599'
      Rate-Limit-Reset:
      - '1600537050'
      Rate-Limit-Total:
      - '600'
      X-Readtime:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"address":"8cfe9e9893e4386645eae8107cd53aaccf96b7fd","addressHex":"8cfe9e9893e4386645eae8107cd53aaccf96b7fd","vm":"evm","type":"qrc20","createHeight":141575,"createTransactionId":"143fcdc0923fedd09bab05eaf7d6ff43c7fe8dfd01cf6638fbce79196740fc5d","createOutputIndex":0,"createBy":"qWB73YJbWSw4VzoxjVXQzh2qMnPVpYfSkW","destructHeight":null,"qrc20":{"name":"INK
        token","symbol":"INK"},"balance":"0","totalReceived":"100000000","totalSent":"100000000","unconfirmed":"0","qrc20Balances":[],"qrc721Balances":[],"transactionCount":1987}'
  recorded_at: Sat, 19 Sep 2020 17:27:31 GMT
recorded_with: VCR 5.1.0
