SLACK_API_KEY=
SLACK_API_SECRET=
AWS_API_KEY=
AWS_API_SECRET=
REFILE_S3_REGION=us-east-1
REFILE_S3_BUCKET=swarmbot-staging-refile
CLOUDFRONT_HOST=<some numbers and letters here from AWS Cloudfrount website>.cloudfront.net
VCR_MODE=new_episodes
