---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/v2/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"catchpoint":"","catchpoint-acquired-blocks":0,"catchpoint-processed-accounts":0,"catchpoint-total-accounts":0,"catchpoint-total-blocks":0,"catchpoint-verified-accounts":0,"catchup-time":0,"last-catchpoint":"11010000#Q4EMJCARLCGJWEQ6LEAGSHG4BF7ONAH4ZQ7PW6J7A3KHAOYKE6JQ","last-round":11011033,"last-version":"https://github.com/algorandfoundation/specs/tree/3a83c4c743f8b17adfd73944b4319c25722a6782","next-version":"https://github.com/algorandfoundation/specs/tree/3a83c4c743f8b17adfd73944b4319c25722a6782","next-version-round":11011034,"next-version-supported":true,"stopped-at-unsupported-round":false,"time-since-last-round":3441366618}

'
  recorded_at: Thu, 10 Dec 2020 17:18:36 GMT
recorded_with: VCR 5.1.0
