---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/v2/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"catchpoint":"","catchpoint-acquired-blocks":0,"catchpoint-processed-accounts":0,"catchpoint-total-accounts":0,"catchpoint-total-blocks":0,"catchup-time":0,"last-catchpoint":"10860000#VTOXS7QIXDWDQFSUGILNGGXRLK63ATF6EQNNGMUZH2AJ2WAYXMRQ","last-round":10864836,"last-version":"https://github.com/algorandfoundation/specs/tree/3a83c4c743f8b17adfd73944b4319c25722a6782","next-version":"https://github.com/algorandfoundation/specs/tree/3a83c4c743f8b17adfd73944b4319c25722a6782","next-version-round":10864837,"next-version-supported":true,"stopped-at-unsupported-round":false,"time-since-last-round":2207380787}

        '
  recorded_at: Thu, 03 Dec 2020 11:49:08 GMT
recorded_with: VCR 5.1.0
