---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/v2/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"catchpoint":"","catchpoint-acquired-blocks":0,"catchpoint-processed-accounts":0,"catchpoint-total-accounts":0,"catchpoint-total-blocks":0,"catchpoint-verified-accounts":0,"catchup-time":0,"last-catchpoint":"11100000#YOXEQ7LUMRHH2CGRYJ3A3PEEOAYW446SWMJXEW7BMQ2OL4EIYS7A","last-round":11104760,"last-version":"https://github.com/algorandfoundation/specs/tree/3a83c4c743f8b17adfd73944b4319c25722a6782","next-version":"https://github.com/algorandfoundation/specs/tree/3a83c4c743f8b17adfd73944b4319c25722a6782","next-version-round":11104761,"next-version-supported":true,"stopped-at-unsupported-round":false,"time-since-last-round":304042559}

        '
  recorded_at: Tue, 15 Dec 2020 08:38:09 GMT
recorded_with: VCR 5.1.0
