---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/transactions?txid=MNGGXTRI4XE6LQJQ3AW3PBBGD5QQFRXMRSXZFUMHTKJKFEQ6TZ2A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"current-round":11005713,"next-token":"FK2iAAAAAAAAAAAA","transactions":[{"close-rewards":0,"closing-amount":0,"confirmed-round":10661140,"fee":1000,"first-valid":10661138,"genesis-hash":"SGO1GKSzyE7IEPItTxCByw9x8FmnrCDexi9/cOUJOiI=","genesis-id":"testnet-v1.0","id":"MNGGXTRI4XE6LQJQ3AW3PBBGD5QQFRXMRSXZFUMHTKJKFEQ6TZ2A","intra-round-offset":0,"last-valid":10662138,"note":"Rm9yIHRlc3Q=","payment-transaction":{"amount":9000000,"close-amount":0,"receiver":"E3IT2TDWEJS55XCI5NOB2HON6XUBIZ6SDT2TAHTKDQMKR4AHEQCROOXFIE"},"receiver-rewards":0,"round-time":1606126438,"sender":"YFGM3UODOZVHSI4HXKPXOKFI6T2YCIK3HKWJYXYFQBONJD4D3HD2DPMYW4","sender-rewards":0,"signature":{"sig":"qD2UkDN9IxoymMy4L6AvIa6zYrblGeXphMX+HIvlF9tijwtyl6sLBiLNtf3NaN0B6Dbgi3xg6XyJvB4V7qbzCA=="},"tx-type":"pay"}]}

'
  recorded_at: Thu, 10 Dec 2020 10:59:48 GMT
recorded_with: VCR 5.1.0
