---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/accounts/QLL4PEGFO7MGQJGUOPUT3MANOI2U3TG5YF3ZM66FPF4GMORTIKPHOYIGSI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"account":{"address":"QLL4PEGFO7MGQJGUOPUT3MANOI2U3TG5YF3ZM66FPF4GMORTIKPHOYIGSI","amount":100212500,"amount-without-pending-rewards":100204000,"apps-local-state":[{"id":13258116,"key-value":[{"key":"YmFsYW5jZQ==","value":{"bytes":"","type":2,"uint":0}},{"key":"dHJhbnNmZXIgZ3JvdXA=","value":{"bytes":"","type":2,"uint":1}}],"schema":{"num-byte-slice":0,"num-uint":4}},{"id":13997710,"key-value":[{"key":"YmFsYW5jZQ==","value":{"bytes":"","type":2,"uint":106250051}},{"key":"bG9ja1VudGls","value":{"bytes":"","type":2,"uint":1614299570}},{"key":"bWF4QmFsYW5jZQ==","value":{"bytes":"","type":2,"uint":22000000000}},{"key":"dHJhbnNmZXJHcm91cA==","value":{"bytes":"","type":2,"uint":1}},{"key":"ZnJvemVu","value":{"bytes":"","type":2,"uint":0}},{"key":"cm9sZXM=","value":{"bytes":"","type":2,"uint":15}}],"schema":{"num-byte-slice":8,"num-uint":8}}],"pending-rewards":8500,"reward-base":26445,"rewards":0,"round":13287905,"sig-type":"sig","status":"Offline"},"current-round":13287905}

        '
  recorded_at: Fri, 02 Apr 2021 07:51:10 GMT
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/accounts/QLL4PEGFO7MGQJGUOPUT3MANOI2U3TG5YF3ZM66FPF4GMORTIKPHOYIGSI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"account":{"address":"QLL4PEGFO7MGQJGUOPUT3MANOI2U3TG5YF3ZM66FPF4GMORTIKPHOYIGSI","amount":100212500,"amount-without-pending-rewards":100204000,"apps-local-state":[{"id":13258116,"key-value":[{"key":"YmFsYW5jZQ==","value":{"bytes":"","type":2,"uint":0}},{"key":"dHJhbnNmZXIgZ3JvdXA=","value":{"bytes":"","type":2,"uint":1}}],"schema":{"num-byte-slice":0,"num-uint":4}},{"id":13997710,"key-value":[{"key":"YmFsYW5jZQ==","value":{"bytes":"","type":2,"uint":106250051}},{"key":"bG9ja1VudGls","value":{"bytes":"","type":2,"uint":1614299570}},{"key":"bWF4QmFsYW5jZQ==","value":{"bytes":"","type":2,"uint":22000000000}},{"key":"dHJhbnNmZXJHcm91cA==","value":{"bytes":"","type":2,"uint":1}},{"key":"ZnJvemVu","value":{"bytes":"","type":2,"uint":0}},{"key":"cm9sZXM=","value":{"bytes":"","type":2,"uint":15}}],"schema":{"num-byte-slice":8,"num-uint":8}}],"pending-rewards":8500,"reward-base":26445,"rewards":0,"round":13287905,"sig-type":"sig","status":"Offline"},"current-round":13287905}

        '
  recorded_at: Fri, 02 Apr 2021 07:51:11 GMT
recorded_with: VCR 5.1.0
