---
http_interactions:
- request:
    method: post
    uri: https://staging.service.oreid.io/api/app-token
    body:
      encoding: UTF-8
      string: '{"secrets":[{"type":"RepublicAccountRecoveryToken","value":"zOJNjCa9tUiktULlJMsYBluxXwNw7zsBlWVv6PpFbr6iyBiNsqsLOkhp+Pge0XNaUt6JSi7Vr5h7x+cpe4C3CQ=="}]}'
    headers:
      Api-Key:
      - ENV[ORE_ID_API_KEY]
      Service-Key:
      - ENV[ORE_ID_SERVICE_KEY]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"54-gyh5BUhlNY4hkbLjq75FWUz10IM"
    body:
      encoding: ASCII-8BIT
      string: '{"processId":"5746bc086102","appAccessToken":"9f77025f-9744-4dbf-b3c1-93060617bc92"}'
  recorded_at: Thu, 01 Apr 2021 00:01:00 GMT
- request:
    method: get
    uri: https://staging.service.oreid.io/api/account/user?account=ore1ro5f2slw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - ENV[ORE_ID_API_KEY]
      Service-Key:
      - ENV[ORE_ID_SERVICE_KEY]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"35c-s94vGBr6gIyTF9FkqWQz+IJUIaU"
    body:
      encoding: ASCII-8BIT
      string: '{"processId":"7434328623bb","accountName":"ore1ro5f2slw","email":"create_a_wallet@for_me.com","picture":null,"name":"Eva
        Smith","username":"wallet creation test","permissions":[{"chainNetwork":"algo_test","chainAccount":"YQOF7M7D7SV5N336QOPFL4DMHOLASGWDGIWSKRFR6OLJJSQA7CFFDEHY7E","permissionName":"active","publicKey":"c41c5fb3e3fcabd6ef7e839e55f06c3b96091ac3322d2544b1f39694ca00f88a","privateKeyStoredExterally":false,"externalWalletType":null,"accountType":"native","permission":"active"},{"chainNetwork":"eth_ropsten","chainAccount":"0xaeee6e56f680724fc26d7b34bba0c200f309cf8b","permissionName":"active","publicKey":"0x1a5d9887d6825d2d8a852d040319dc7b54261f21986950203eda52d5b66dd70d9071af73fd03a0df0ffd8ecabd05f4d8487228da46ceea07b2ac9ab3497d5edc","privateKeyStoredExterally":false,"externalWalletType":null,"accountType":"native","permission":"active"}]}'
  recorded_at: Thu, 01 Apr 2021 00:01:00 GMT
recorded_with: VCR 5.1.0
