---
http_interactions:
- request:
    method: post
    uri: https://staging.service.oreid.io/api/custodial/new-user
    body:
      encoding: UTF-8
      string: '{"name":"Eva Smith","user_name":"wallet creation test","email":"create_a_wallet@for_me.com","picture":null,"user_password":"71a89055e394c22e0b9aaa05bfed628ea5a6b91ca1be990070abc0127ef23d2d!","phone":"","account_type":"native"}'
    headers:
      Api-Key:
      - ENV[ORE_ID_API_KEY]
      Service-Key:
      - ENV[ORE_ID_SERVICE_KEY]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"39-x+VPuAjdrChzB9/MJm38EXuJB0Y"
    body:
      encoding: ASCII-8BIT
      string: '{"processId":"01725e49a048","accountName":"ore1ro5f2slw"}'
  recorded_at: Wed, 31 Mar 2021 11:07:01 GMT
- request:
    method: get
    uri: https://staging.service.oreid.io/api/account/user?account=ore1ro5f2slw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - ENV[ORE_ID_API_KEY]
      Service-Key:
      - ENV[ORE_ID_SERVICE_KEY]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"35c-/u680R9ljVJUSKf1TbwHrHCsbf0"
    body:
      encoding: ASCII-8BIT
      string: '{"processId":"103df9951e49","accountName":"ore1ro5f2slw","email":"create_a_wallet@for_me.com","picture":null,"name":"Eva
        Smith","username":"wallet creation test","permissions":[{"chainNetwork":"algo_test","chainAccount":"YQOF7M7D7SV5N336QOPFL4DMHOLASGWDGIWSKRFR6OLJJSQA7CFFDEHY7E","permissionName":"active","publicKey":"c41c5fb3e3fcabd6ef7e839e55f06c3b96091ac3322d2544b1f39694ca00f88a","privateKeyStoredExterally":false,"externalWalletType":null,"accountType":"native","permission":"active"},{"chainNetwork":"eth_ropsten","chainAccount":"0xaeee6e56f680724fc26d7b34bba0c200f309cf8b","permissionName":"active","publicKey":"0x1a5d9887d6825d2d8a852d040319dc7b54261f21986950203eda52d5b66dd70d9071af73fd03a0df0ffd8ecabd05f4d8487228da46ceea07b2ac9ab3497d5edc","privateKeyStoredExterally":false,"externalWalletType":null,"accountType":"native","permission":"active"}]}'
  recorded_at: Wed, 31 Mar 2021 11:36:34 GMT
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/accounts/YQOF7M7D7SV5N336QOPFL4DMHOLASGWDGIWSKRFR6OLJJSQA7CFFDEHY7E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"account":{"address":"YQOF7M7D7SV5N336QOPFL4DMHOLASGWDGIWSKRFR6OLJJSQA7CFFDEHY7E","amount":201000,"amount-without-pending-rewards":201000,"pending-rewards":0,"reward-base":26530,"rewards":0,"round":13250761,"status":"Offline"},"current-round":13250761}

        '
  recorded_at: Wed, 31 Mar 2021 11:36:34 GMT
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/accounts/YQOF7M7D7SV5N336QOPFL4DMHOLASGWDGIWSKRFR6OLJJSQA7CFFDEHY7E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"account":{"address":"YQOF7M7D7SV5N336QOPFL4DMHOLASGWDGIWSKRFR6OLJJSQA7CFFDEHY7E","amount":201000,"amount-without-pending-rewards":201000,"pending-rewards":0,"reward-base":26530,"rewards":0,"round":13250761,"status":"Offline"},"current-round":13250761}

        '
  recorded_at: Wed, 31 Mar 2021 11:36:35 GMT
recorded_with: VCR 5.1.0
