---
http_interactions:
- request:
    method: post
    uri: https://ropsten.infura.io/v3/39f6ad316c5a4b87a0f90956333c3666
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"eth_getTransactionReceipt","params":["0xffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff"],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"result":null}'
  recorded_at: Fri, 28 Feb 2020 16:35:29 GMT
- request:
    method: post
    uri: https://ropsten.infura.io/v3/39f6ad316c5a4b87a0f90956333c3666
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"eth_blockNumber","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"result":"0x713ac0"}'
  recorded_at: Fri, 28 Feb 2020 16:35:30 GMT
recorded_with: VCR 5.1.0
