<aside class="navbar navbar-vertical navbar-expand-sm navbar-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="navbar-nav pt-lg-3">
        <li class="nav-item">
          <a class="nav-link" href="#{@project.mission.url}">
            <span class="nav-link-title">
              ← <%= @project.mission.name %>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="nav-link-title">
              OVERVIEW
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="nav-link-title">
              TASKS
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="nav-link-title">
              TRANSFERS
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="nav-link-title">
              ACCOUNTS
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="nav-link-title">
              TRANSFER RULES
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="nav-link-title">
              ACCESS
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="nav-link-title">
              SETTINGS
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
