<%= turbo_frame_tag "transfer_prioritize_button_#{transfer.id}", target: '_top' do %>
  <% unless transfer.latest_blockchain_transaction&.pending? %>
    <div class="transfers-table__transfer__button__history">
      <%= link_to prioritize_project_dashboard_transfer_path(project_id: transfer.project.id, id: transfer.id),
                  class: 'transfer-algo-btn',
                  rel: 'nofollow',
                  method: :patch,
                  id: 'prioritizeBtn',
                  data: { turbo: 'false' } do %>
        <% if transfer.project.hot_wallet_auto_sending? %>
          <span>PRIORITIZE</span>
        <% elsif transfer.project.hot_wallet_manual_sending? %>
          <span>PAY BY HOT WALLET</span>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
