<div class="row">
  <div class="col-6">
      <div class="transfers-filters">
        <div class="transfers-filters--filter">
          <div class="transfers-filters--filter--options wallet-connect">
            <div
              class="wallet-connect--button"
              data-action='click->sign--wallet-connect#switch'
            >
              WalletConnect
            </div>
            
            <div
              class="wallet-connect--address"
              data-sign--wallet-connect-target='walletAddress'
            >
              Disconnected
            </div>
          </div>
        </div>
      </div>
  </div>
</div>