<div class="modal-header">
  <h5 class="modal-title">Change Permissions</h5>
  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
</div>
<%= form_with(model: interest,
              url: project_account_permission_path(id: interest.id, account_id: interest.account.id),
              data: { controller: 'permissions--form',
                      action: 'permissions--form#onSubmit permissions:updated->permissions--modal#closeModal' }) do |f| %>
  <div class="modal-body">
    <ul class="errors alert-danger"></ul>
    <div class="d-flex flex-row">
    <span class="avatar avatar-xs avatar-rounded">
      <%= image_tag account_image_url(interest.account, 100) %>
    </span>
      <div class="h12 font-weight-medium n10-color ms-1">Mark Novell</div>
    </div>
    <br>
    <div class="input-icon mb-3 mt-1">
      <div class="choices">
        <div class="h12 font-weight-medium n10-color ms-1">Permissions</div>
        <%= f.select :role,
                     options_for_select(
                         Interest.roles.keys.collect { |role| [role.titleize, role] },
                         selected: interest.role
                     ),
                     class: 'form-select form-control' %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary h12" data-dismiss="modal">Cancel</button>
    <%= f.submit 'Save',
                 data: { disable_with: false, target: 'permissions--form.submit' },
                 class: 'btn btn-primary' %>
  </div>
<% end %>
