<div class="modal modal-blur fade"
     id="accountPermissionModal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true"
     data-controller="bootstrap--modal permissions--modal"
     data-action="modal:show->permissions--modal#loadContent
                  modal:hidden->permissions--modal#removeContent">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" data-permissions--modal-target="modalContent">
    </div>
  </div>
</div>
