---
http_interactions:
- request:
    method: post
    uri: https://ropsten.infura.io/v3/39f6ad316c5a4b87a0f90956333c3666
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"eth_accounts","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"result":[]}'
  recorded_at: Tue, 15 Sep 2020 16:42:47 GMT
recorded_with: VCR 5.1.0
