<div data-paperform-id="<%= @paperform_id %>"></div>
<script>
var hiddenFieldPrefillKey = "2r27k";
var hiddenFieldPrefillKeyEmail = "aa11d";
var hiddenFieldPrefillKeyFirstName = "lqqc";
var hiddenFieldPrefillKeyLastName = "eeii7";
var form = document.querySelector('[data-paperform-id]');
if (form) form.setAttribute('data-prefill', hiddenFieldPrefillKey + '=' + encodeURIComponent(location.href) + `&${hiddenFieldPrefillKeyEmail}=<%= email %>&${hiddenFieldPrefillKeyFirstName}=<%= first_name %>&${hiddenFieldPrefillKeyLastName}=<%= last_name %>`);
</script>
<script>(function() {var script = document.createElement('script'); script.src = "https://paperform.co/__embed"; document.body.appendChild(script); })()</script>