<div class="modal fade"
     id="walletForm"
     tabindex="-1"
     aria-labelledby="walletFormLabel"
     aria-hidden="true"
     data-controller="bootstrap--modal wallets--modal"
     data-action="modal:show->wallets--modal#loadContent
                  modal:hidden->wallets--modal#removeContent">
  <div class="modal-dialog">
    <div class="modal-content" data-target="wallets--modal.modalContent">
    </div>
  </div>
</div>
