<div class="transfers-table__transfer">
  <div class="transfers-table__transfer__blockchain">
    <%= wallet.blockchain.name %>
  </div>

  <div class="transfers-table__transfer__address">
    <div class="transfer-button">
    <%= link_to wallet.address, wallet.blockchain.url_for_address_human(wallet.address), target: :_blank %>
    </div>
  </div>

  <div class="transfers-table__transfer__action transfers-table__transfer__action--warn">
    <div class="transfer-button">
      <%= link_to 'Remove', wallet_url(wallet), method: :delete %>
    </div>
  </div>
</div>