<%= render layout: 'projects/project_settings_modal' do %>
  <div class="wallets">
    <h2>My Wallets</h2>
    <h3><%= pluralize(@wallets.size, 'Wallet', 'Wallets') %></h3>
    
    <div class="wallets__create">
      <%= link_to 'Add Wallet', new_wallet_url %>
    </div>

    <div class="transfers-table animated fadeIn faster">      
      <%= render partial: "wallet", collection: @wallets, as: :wallet, cached: true %>
    </div>
  </div>
<% end %>