<%= render layout: 'projects/project_settings_modal' do %>
  <div class="wallets">
    <h2>Add Wallet</h2>
    <h3>Wallet Details</h3>

    <div class="wallets__create">
      <%= render 'form', wallet: @wallet %>
    </div>
  </div>
<% end %>
