---
http_interactions:
- request:
    method: get
    uri: https://service.oreid.io/api/account/user?account=ore1ryuzfqwy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - ENV[ORE_ID_API_KEY]
      Service-Key:
      - ENV[ORE_ID_SERVICE_KEY]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"223-CUrOIvBJqJrIGEoc6gZJquYJErs"
    body:
      encoding: ASCII-8BIT
      string: '{"processId":"563751b76f75","accountName":"ore1ryuzfqwy","email":"me+a6396cea1dc3f191e0da5ad89436c47beb689056@example.com","picture":"","name":"Eva
        Smith","username":"hunter-1436a03f1e078652999eb929a56dc13485dee45c"}'
  recorded_at: Mon, 26 Oct 2020 08:01:52 GMT
recorded_with: VCR 5.1.0
