---
http_interactions:
- request:
    method: post
    uri: https://staging.service.oreid.io/api/app-token
    body:
      encoding: UTF-8
      string: '{"secrets":[{"type":"RepublicAccountRecoveryToken","value":"dummmyrecovery"}]}'
    headers:
      Api-Key:
      - ENV[ORE_ID_API_KEY]
      Service-Key:
      - ENV[ORE_ID_SERVICE_KEY]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"54-+pm175Sr/9dLSIv4Jiscw1ls53w"
    body:
      encoding: ASCII-8BIT
      string: '{"processId":"c01c0f543910","appAccessToken":"9cf3cb90-16b5-484d-af21-869652119e76"}'
  recorded_at: Tue, 30 Mar 2021 22:42:15 GMT
recorded_with: VCR 5.1.0
