---
http_interactions:
- request:
    method: post
    uri: https://service.oreid.io/api/app-token
    body:
      encoding: UTF-8
      string: '{"secrets":[{"type":"RepublicAccountRecoveryToken","value":"dummmyrecovery"},{"type":"RepublicAccountRecoveryEnvironment","value":"production"}]}'
    headers:
      Api-Key:
      - ENV[ORE_ID_API_KEY]
      Service-Key:
      - ENV[ORE_ID_SERVICE_KEY]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"54-kHd53FjwEHSGwjjmB0qPzZNLZz4"
    body:
      encoding: ASCII-8BIT
      string: '{"processId":"3533a7b7d8ac","appAccessToken":"e9641a90-08e0-42fe-ae1d-c18bfb5dbd23"}'
  recorded_at: Mon, 19 Jul 2021 00:06:23 GMT
recorded_with: VCR 5.1.0
