---
http_interactions:
- request:
    method: post
    uri: https://service.oreid.io/api/app-token
    body:
      encoding: UTF-8
      string: '{"secrets":[{"type":"RepublicAccountRecoveryToken","value":"dummmyrecovery"},{"type":"RepublicAccountRecoveryEnvironment","value":"test"}]}'
    headers:
      Api-Key:
      - ENV[ORE_ID_API_KEY]
      Service-Key:
      - ENV[ORE_ID_SERVICE_KEY]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"54-fUe83cogoqtk+Dtj62kTLLFRXPg"
    body:
      encoding: ASCII-8BIT
      string: '{"processId":"04dd9e7b9ec2","appAccessToken":"5db40ce6-6d39-4ae4-91c4-6b80b7b3e67a"}'
  recorded_at: Mon, 19 Jul 2021 00:06:23 GMT
recorded_with: VCR 5.1.0
