---
http_interactions:
- request:
    method: post
    uri: https://service.oreid.io/api/app-token
    body:
      encoding: UTF-8
      string: '{"metadata":{"secrets":{"type":"republicAccountRecoveryToken","value":"dummmyrecovery"}}}'
    headers:
      Api-Key:
      - ENV[ORE_ID_API_KEY]
      Service-Key:
      - ENV[ORE_ID_SERVICE_KEY]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"54-3D3gdPljVoQW/TX2yM6OlBVKpa0"
    body:
      encoding: ASCII-8BIT
      string: '{"processId":"9add0bd38199","appAccessToken":"e19ce2af-b960-4392-bdee-a6355bfbb53c"}'
  recorded_at: Tue, 30 Mar 2021 19:23:45 GMT
recorded_with: VCR 5.1.0
