---
http_interactions:
- request:
    method: get
    uri: https://testnet.qtum.info/api/contract/0000000000000000000000000000000000000086
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Rate-Limit-Remaining:
      - '599'
      Rate-Limit-Reset:
      - '1600274733'
      Rate-Limit-Total:
      - '600'
      X-Readtime:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"address":"0000000000000000000000000000000000000086","addressHex":"0000000000000000000000000000000000000086","vm":"evm","type":"offline-staking","createHeight":625000,"destructHeight":null,"balance":"0","totalReceived":"0","totalSent":"0","unconfirmed":"0","qrc20Balances":[],"qrc721Balances":[],"transactionCount":1078}'
  recorded_at: Wed, 16 Sep 2020 16:35:33 GMT
recorded_with: VCR 5.1.0
