---
http_interactions:
- request:
    method: get
    uri: https://api.algoexplorer.io/v2/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"catchpoint":"","catchpoint-acquired-blocks":0,"catchpoint-processed-accounts":0,"catchpoint-total-accounts":0,"catchpoint-total-blocks":0,"catchpoint-verified-accounts":0,"catchup-time":0,"last-catchpoint":"12020000#W6YMHQRV4C2OSIVNEDDGDIMIUZQBOWG32UO3XD2UA4GAIBYBOQ5A","last-round":12029605,"last-version":"https://github.com/algorandfoundation/specs/tree/3a83c4c743f8b17adfd73944b4319c25722a6782","next-version":"https://github.com/algorandfoundation/specs/tree/3a83c4c743f8b17adfd73944b4319c25722a6782","next-version-round":12029606,"next-version-supported":true,"stopped-at-unsupported-round":false,"time-since-last-round":1823534487}

'
  recorded_at: Sat, 13 Feb 2021 02:03:54 GMT
recorded_with: VCR 5.1.0
