---
http_interactions:
- request:
    method: get
    uri: https://api.algoexplorer.io/v2/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"catchpoint":"","catchpoint-acquired-blocks":0,"catchpoint-processed-accounts":0,"catchpoint-total-accounts":0,"catchpoint-total-blocks":0,"catchpoint-verified-accounts":0,"catchup-time":0,"last-catchpoint":"13370000#A7RZOGXGZRHS43QSBFM2BA2Y4HKXLL7YW7PI6VXA6BP6A5TKSS6A","last-round":13378980,"last-version":"https://github.com/algorandfoundation/specs/tree/3a83c4c743f8b17adfd73944b4319c25722a6782","next-version":"https://github.com/algorandfoundation/specs/tree/ac2255d586c4474d4ebcf3809acccb59b7ef34ff","next-version-round":13409876,"next-version-supported":true,"stopped-at-unsupported-round":false,"time-since-last-round":2495568194}

'
  recorded_at: Fri, 23 Apr 2021 00:00:14 GMT
recorded_with: VCR 5.1.0
