---
http_interactions:
- request:
    method: get
    uri: https://api.algoexplorer.io/v2/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"catchpoint":"","catchpoint-acquired-blocks":0,"catchpoint-processed-accounts":0,"catchpoint-total-accounts":0,"catchpoint-total-blocks":0,"catchpoint-verified-accounts":0,"catchup-time":0,"last-catchpoint":"14190000#L4W4E6XDHBHRFMF5URPGVQQZM37L3HWGA64LBLSNY3X4CHCVWDSQ","last-round":14192464,"last-version":"https://github.com/algorandfoundation/specs/tree/d050b3cade6d5c664df8bd729bf219f179812595","next-version":"https://github.com/algorandfoundation/specs/tree/d050b3cade6d5c664df8bd729bf219f179812595","next-version-round":14192465,"next-version-supported":true,"stopped-at-unsupported-round":false,"time-since-last-round":3323059874}

        '
  recorded_at: Thu, 03 Jun 2021 09:40:56 GMT
recorded_with: VCR 5.1.0
