.styleguide-index {
  background-color: #f6f6f6;
  padding: 16px;
}

.styleguide-index--message {
  margin: 16px 0;
}

.styleguide-index--icon {
  display: block;
  margin: 20px 0;
}

.styleguide-index--button {
  margin: 0 16px 0 0;
}

.button {
  height: 30px;
  padding: 6px 12px;
  color: white;
  background-color: var(--primary-blue);
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 14px 0px 14px 0px;
  outline: none;
  border: none;
  border-radius: 0;
  -webkit-transition: none;
  transition: none;
}

.button:hover, .button:focus {
  background-color: var(--primary-blue);
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.button__border {
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  border: none;
  outline: none;
  outline: 1px solid white;
  outline-offset: -1px;
}

.button__primary__disabled {
  background-color: var(--primary-blue);
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.input-field {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  max-width: 556px;
  margin: 14px 0px 14px 0px;
}

.input-field__halfed, .input-field__dropdown--halfed {
  max-width: 273px;
}

.input-field--error {
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  color: #d0021b;
  margin-top: 8px;
}

.input-field--error:first-letter {
  text-transform: uppercase;
}

.input-field--error:before {
  content: "⚠︎";
  padding-right: 0.5em;
}

.input-field--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: normal;
  margin-bottom: 8px;
}

.input-field--title--title {
  font-size: 12px;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
  margin-right: 0.5em;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.input-field--title--required {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  font-size: 12px;
  font-weight: normal;
  color: var(--dark-indigo);
  text-transform: capitalize;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.input-field--title--counter {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  font-size: 10px;
  font-weight: bold;
  text-align: right;
  color: var(--greyish-brown);
  text-transform: uppercase;
}

.input-field--content__text {
  font-size: 14px;
  height: 35px;
  padding: 9px 16px 8px 15px;
  color: var(--greyish-brown);
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(32, 22, 98, 0.1);
  border: 1px solid rgba(74, 74, 74, 0.2);
  margin: 0;
}

.input-field--content__text::-webkit-input-placeholder {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.input-field--content__text::-moz-placeholder {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.input-field--content__text:-ms-input-placeholder {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.input-field--content__text::placeholder {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.input-field--content__text::-webkit-input-placeholder:first-letter {
  text-transform: uppercase;
}

.input-field--content__text::-moz-placeholder:first-letter {
  text-transform: uppercase;
}

.input-field--content__text:-ms-input-placeholder:first-letter {
  text-transform: uppercase;
}

.input-field--content__text::placeholder:first-letter {
  text-transform: uppercase;
}

.input-field--content__text:focus {
  border: 1px solid rgba(74, 74, 74, 0.2);
  background-color: #ffffff;
  outline: none;
  -webkit-transition: none;
  transition: none;
}

.input-field__error .input-field--content__text {
  border: 1px solid #d0021b;
}

.input-field__description .input-field--content__text {
  height: 115px;
  resize: none;
}

.input-field__description-middle .input-field--content__text {
  height: 70px;
  resize: none;
}

.input-field--content__defined {
  font-size: 14px;
  height: 35px;
  padding: 9px 16px 8px 15px;
  margin: 0;
  color: var(--black);
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(32, 22, 98, 0.1);
  cursor: no-drop;
}

.input-field--content__select {
  font-size: 14px;
  height: 35px;
  padding: 9px 16px 8px 15px;
  color: var(--greyish-brown);
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(32, 22, 98, 0.1);
  border: none;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 9px 6px;
  background-position: right center;
  background-origin: content-box;
  background-repeat: no-repeat;
  cursor: pointer;
  text-transform: capitalize;
}

.input-field--content__select:focus {
  outline: none;
}

.input-field--content__checkbox {
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  cursor: pointer;
  height: 0;
  width: 0;
}

.input-field--content__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-field--content__checkbox--icon__unchecked,
.input-field--content__checkbox--icon__checked {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(32, 22, 98, 0.1);
  border: 1px solid rgba(74, 74, 74, 0.2);
}

.input-field--content__checkbox--icon__checked {
  display: inline-block;
  padding: 10px 7px 7px 7px;
}

.input-field--content__checkbox--icon__checked:after{
  content: '';
  display: block;
  width: 13px;
  height: 8px;
  border: solid var(--dark-indigo);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(135deg) scaleY(-1);
          transform: rotate(135deg) scaleY(-1);
}

.input-field--content__checkbox--text {
  margin-left: 7px;
  font-size: 14px;
  color: var(--black);
}

.input-field--content__file {
  color: transparent;
}

.input-field--content__file::-webkit-file-upload-button {
  height: 27px;
  font-size: 12px;
  color: var(--primary-blue);
  background-color: #ffffff;
  border: none;
  box-shadow: 0 5px 10px 0 rgba(32, 22, 98, 0.1);
  padding: 7px 8px 5px 10px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}

.input-field--content__file--preview {
  max-width: 40px;
  max-height: 40px;
  border: 1px dashed var(--primary-blue);
}

.input-field--content__file--name {
  font-size: 14px;
  color: var(--dark-indigo);
  margin-top: 10px;
  margin-bottom: 7px;
}

.message {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: white;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
  min-height: 50px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.message--wrapper--inline {
  display: inline-block;
}

.message--text__error,
.message--text__warning {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  padding: 18px 9px 14px 6px;
}

.message--text__error {
  color: #d0021b;
}

.message--text__warning {
  color: var(--greyish-brown);
}

.message--icon {
  padding: 16px 6px 13px 15px;
}

.message--close-icon {
  padding: 16px 11px 13px 6px;
  cursor: pointer;
}
