---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/v2/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"catchpoint":"","catchpoint-acquired-blocks":0,"catchpoint-processed-accounts":0,"catchpoint-total-accounts":0,"catchpoint-total-blocks":0,"catchup-time":0,"last-catchpoint":"10820000#U5UEZZZA5AFP7BD6ZC23HNX6MJSTTVKAAEZ5O5SQ4IO3OSCYDH7A","last-round":10822376,"last-version":"https://github.com/algorandfoundation/specs/tree/3a83c4c743f8b17adfd73944b4319c25722a6782","next-version":"https://github.com/algorandfoundation/specs/tree/3a83c4c743f8b17adfd73944b4319c25722a6782","next-version-round":10822377,"next-version-supported":true,"stopped-at-unsupported-round":false,"time-since-last-round":2961084653}

        '
  recorded_at: Tue, 01 Dec 2020 09:28:36 GMT
recorded_with: VCR 5.1.0
