:root {
  --primary-purple: #5037f7;
  --primary-blue: #0089f4;
  --primary-pink: #fb40e5;
  --dark-indigo: #201662;
  --black: #3a3a3a;
  --azure: #0089f4;
  --light-grey-blue: #b0b9be;
  --cool-grey: #98a2aa;
  --greyish-brown: #4a4a4a;
}

html,
body {
  width: 100%;
}

body {
  background-color: rgb(27, 39, 45);
  color: var(--black);
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  height: 1px;
  opacity: 0.2;
  border: none;
  border-radius: 1px;
  background-color: var(--black);
  margin-top: 10px;
  margin-bottom: 0px;
}

.header {
  min-height: 90px;
  box-shadow: 0 5px 10px 0 rgba(32, 22, 98, .1);
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header--logo {
  height: 47px;
  padding: 20px;
}

.header--nav--links {
  display: flex;
  flex-wrap: wrap;
}

.header--nav--links a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--greyish-brown);
  padding: 39px 25px 36px 25px;
  border-left: 1px solid rgba(237, 241, 242, 0.5);
  display: inline-block;
  min-width: 58px;
}

a.header--nav--links--current {
  font-weight: bold;
  color: var(--primary-blue);
  border-bottom: 4px solid;
}

.layout {
  background-color: white;
}

.layout--back-button {
  position: absolute;
  top: 113px;
  left: 20px;
  cursor: pointer;
}

.layout--content {
  padding: 25px 150px 25px 150px;
}

.layout--content--title {
  font-size: 12px;
  font-weight: bold;
  color: var(--dark-indigo);
  text-transform: capitalize;
  cursor: default;
}

.layout--content--title--category {
  font-weight: normal;
}

.layout--content--title--nav,
.layout--content--title--nav__current {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 40px;
}

.layout--content--title--nav {
  color: #9b9b9b;
}

.layout--content--title--nav__current {
  color: var(--azure);
}

.layout--content--wrapper {
  display: flex;
}

.layout--content--content {
  width: 100%;
}

.layout--subfooter {
  background-color: var(--greyish-brown);
  min-height: 80px;
}

.layout--subfooter--buttons {
  padding: 26px 110px 24px 150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.layout--content--sidebar {
  max-width: 367px;
  padding: 0px;
}

.layout--content--content__sidebared {
  padding: 13px 0px 0px 34px;
  margin: 0px 0px 9px 0px;
  border-left: 1px solid rgba(58, 58, 58, 0.3);
  flex-grow: 2;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #e8eff7;
  padding: 70px 150px 0px 150px;
  background-color: rgba(10, 27, 36, 1);
}

.footer--logo {
  height: 40px;
}

.footer--content {
  margin-top: 29px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer--content--text {
  max-width: 448px;
  font-size: 14px;
  opacity: 0.6;
  text-align: justify;
  -webkit-hyphens: auto;
  margin-bottom: 30px;
  margin-right: 20px;
}

.footer--content--nav {
  display: flex;
  text-transform: capitalize;
}

.footer--content--nav a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
  line-height: 3;
  color: #e8eff7;
}

.footer--content--nav--about,
.footer--content--nav--join,
.footer--content--nav--legal {
  display: flex;
  flex-direction: column;
  margin-left: 47px;
}

.footer--content--nav--about {
  margin-left: 0;
}

.footer--content--nav--about--header,
.footer--content--nav--join--header,
.footer--content--nav--legal--header {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
  color: #ffffff;
  margin-bottom: 9px;
}

.footer--copyright {
  background-color: var(--black);
  color: #e8eff7;
  font-size: 12px;
  text-align: center;
  padding: 23px 23px 23px 23px;
  opacity: 0.4;
  margin: 80px -150px 0px -150px;
}

.sidebar-item--wrapper {
  display: inline-block;
}

.sidebar-item {
  min-width: 263px;
  min-height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 10px 0 rgba(32, 22, 98, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}

.sidebar-item__selected {
  border: 1px solid;
  border-image: linear-gradient(to left, #fb40e5, #0089f4);
  border-image-slice: 1;
}

.sidebar-item--icon-left {
  padding: 4px 9px 0px 13px;
}

.sidebar-item--icon-left img {
  max-width: 20px;
  max-height: 20px;
  min-height: 20px;
  min-width: 20px;
}

.sidebar-item--text {
  font-size: 12px;
  font-weight: 500;
  color: var(--dark-indigo);
  text-transform: uppercase;
  flex-grow: 2;
}

.sidebar-item--icon-right {
  padding: 7px;
  font-size: 20px;
  color: var(--dark-indigo);
}

.sidebar-item__bold {
  background-color: var(--primary-purple);
}

.sidebar-item__bold .sidebar-item--text {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-transform: none;
}

.sidebar-item__bold .sidebar-item--icon-right {
  padding-right: 12px;
  padding-top: 4px;
}

.styleguide-index--message {
  margin: 16px 0;
}

.styleguide-index--icon {
  display: block;
  margin: 20px 0;
}

.styleguide-index--button {
  margin: 16px;
}

.button {
  height: 30px;
  padding: 6px 12px;
  margin-right: 15px;
  color: white;
  background-color: var(--primary-blue);
  box-shadow: 0 5px 10px 0 rgba(32, 22, 98, .1);
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 0;
  -webkit-transition: none;
  transition: none;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button:hover,
.button:focus {
  background-color: var(--primary-blue);
}

input[type="button"].button:disabled,
input[type="submit"].button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

.button__border {
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  border: none;
  outline: none;
  outline: 1px solid white;
  outline-offset: -1px;
}

.button__primary__disabled {
  background-color: var(--primary-blue);
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.button--right-space {
  margin-right: 15px;
}

.input-field {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  max-width: 556px;
  margin: 30px 0px 14px 0px;
}

.input-field__halfed, .input-field__dropdown--halfed {
  max-width: 273px;
}

.input-field--error {
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  color: #d0021b;
  margin-top: 8px;
}

.input-field--error:first-letter {
  text-transform: uppercase;
}

.input-field--error:before {
  content: "⚠︎";
  padding-right: 0.5em;
}

.input-field--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: normal;
  margin-bottom: 8px;
}

.input-field--title--title {
  font-size: 12px;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
  margin-right: 0.5em;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.input-field--title--required {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  font-size: 12px;
  font-weight: 500;
  color: var(--greyish-brown);
  text-transform: capitalize;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.input-field--title--counter {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  font-size: 10px;
  font-weight: bold;
  text-align: right;
  color: var(--greyish-brown);
  text-transform: uppercase;
}

.input-field--content__text {
  font-size: 14px;
  height: 35px;
  padding: 9px 16px 8px 15px;
  color: var(--greyish-brown);
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(32, 22, 98, 0.1);
  border: 1px solid rgba(74, 74, 74, 0.2);
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: Georgia,Times,Times New Roman,serif;
}

.input-field--content__text::-webkit-input-placeholder {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.input-field--content__text::-moz-placeholder {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.input-field--content__text:-ms-input-placeholder {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.input-field--content__text::placeholder {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.input-field--content__text::-webkit-input-placeholder:first-letter {
  text-transform: uppercase;
}

.input-field--content__text::-moz-placeholder:first-letter {
  text-transform: uppercase;
}

.input-field--content__text:-ms-input-placeholder:first-letter {
  text-transform: uppercase;
}

.input-field--content__text::placeholder:first-letter {
  text-transform: uppercase;
}

.input-field--content__text:focus {
  border: 1px solid rgba(74, 74, 74, 0.2);
  background-color: #ffffff;
  outline: none;
  -webkit-transition: none;
  transition: none;
}

.input-field--content__text__copyable {
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="115"><g fill="none" fill-rule="evenodd"><path fill="%23FFF" fill-rule="nonzero" d="M14.433 54.005H50.07v-7.066H14.433v7.066zm-.005 42.854h21.354v-7.082H14.428v7.082zM28.64 61.226H14.433v7.067H28.64v-7.067zm-.015 21.355c.095-.76.06-6.707-.035-7.067-.7-.095-13.793-.06-14.148.035-.085.72-.055 6.647.04 7.032h14.143z"/><path fill="%23201662" fill-rule="nonzero" d="M44.018 4.04c.555.095 1.11.19 1.66.29 5.536 1.004 10.1 5.457 11.219 10.97.174.859.22 1.748.32 2.623.014.115.014.23.024.4.225.005.435.02.645.02 6.847 0 13.693.005 20.54 0 1.434 0 2.778.315 3.983 1.104 2.179 1.425 3.363 3.449 3.368 6.062.02 11.73.01 23.454.01 35.183 0 .145-.015.295-.02.474h-7.116c0-1.409-.005-2.818-.005-4.227V39.906c-.055-.065-.06-.08-.075-.09-.015-.01-.03-.025-.045-.025-.08-.01-.165-.025-.245-.025H7.516c-.05 0-.1.01-.15.02-.03.01-.055.035-.105.065v64.083c.375.11 70.44.155 71.365.04.025-.765.01-1.54.01-2.314.005-.8 0-1.599 0-2.399v-9.425c.434-.115 6.661-.125 7.146-.01v.435c0 4.583.01 9.16-.005 13.743a7.186 7.186 0 0 1-5.037 6.842c-.475.145-.965.234-1.445.35H6.632c-.11-.03-.22-.076-.335-.09a7.225 7.225 0 0 1-6.077-5.813c-.03-.17-.125-.33-.19-.494V24.74c.065-.165.155-.325.19-.5.395-2 1.44-3.563 3.118-4.698 1.255-.844 2.649-1.2 4.158-1.194 6.832.005 13.658.005 20.49.005h.665c.015-.29.02-.52.045-.75.1-.81.16-1.624.33-2.419 1.164-5.457 5.707-9.85 11.174-10.84.57-.104 1.144-.194 1.714-.289.705-.015 1.404-.015 2.104-.015zM71.469 32.6c.075-.614-.065-1.179-.22-1.733-.834-2.949-3.883-5.443-7.101-5.383-2.249.04-4.498-.01-6.747.01-3.548.035-6.721-2.843-7.211-6.092-.095-.624-.09-1.26-.16-1.889-.485-4.383-4.958-7.301-9.165-5.987a7.18 7.18 0 0 0-5.048 6.727 7.623 7.623 0 0 1-.455 2.544 7.215 7.215 0 0 1-6.791 4.692c-1.884-.005-3.763-.005-5.647 0-.715 0-1.435-.005-2.15.04-3.113.2-5.612 2.379-6.221 5.428-.105.534-.2 1.074-.115 1.644h57.031z"/><path fill="%23201662" d="M99.99 82.6c-7.196 0-14.388.006-21.584.006H64.402c-.01.23-.03.44-.03.65v12.943c0 .19-.01.385-.02.68-9.55-7.172-19.015-14.268-28.54-21.415 9.515-7.136 18.986-14.243 28.556-21.424v14.248c.205.015.35.03.495.03H99.74c.085 0 .165-.01.25-.01V82.6zM14.433 54.005v-7.066H50.07v7.066H14.433zm-.005 42.854v-7.082h21.354v7.082H14.428zM28.64 61.226v7.067H14.434v-7.067H28.64zm-.014 21.354H14.483c-.1-.384-.13-6.311-.04-7.03.355-.096 13.453-.13 14.148-.036.095.36.13 6.307.035 7.067z"/></g></svg>');
  background-size: 15px 17px;
  background-position: right -1.0rem center;
  background-origin: content-box;
  background-repeat: no-repeat;
  padding-right: 2rem;
}

.input-field__error .input-field--content__text {
  border: 1px solid #d0021b;
}

.input-field__description .input-field--content__text {
  height: 115px;
  resize: none;
}

.input-field__description-middle .input-field--content__text {
  height: 70px;
  resize: none;
}

.input-field--content__defined {
  font-size: 14px;
  height: 35px;
  padding: 9px 16px 8px 15px;
  margin: 0;
  color: var(--black);
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(32, 22, 98, 0.1);
  cursor: no-drop;
  width: 100%;
  box-sizing: border-box;
}

.input-field--content__select {
  font-size: 14px;
  font-family: Georgia,Times,Times New Roman,serif;
  height: 35px;
  padding: 9px 30px 8px 15px;
  color: var(--greyish-brown);
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(32, 22, 98, 0.1);
  border: 1px solid rgba(74, 74, 74, .2);
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  text-transform: capitalize;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="27" height="9"><path fill="none" fill-rule="nonzero" stroke="%23201662" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1.5 1L13 8l12.5-7"/></svg>');
  background-size: 18px 8px;
  background-position: right -1rem center;
  background-origin: content-box;
  background-repeat: no-repeat;
  padding-right: 2rem;
}

.input-field--content__select:focus {
  outline: none;
}

.input-field--content__checkbox {
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  cursor: pointer;
  height: 0;
  width: 0;
}

.input-field--content__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-field--content__checkbox--icon__unchecked,
.input-field--content__checkbox--icon__checked {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(32, 22, 98, 0.1);
  border: 1px solid rgba(74, 74, 74, 0.2);
  box-sizing: border-box;
}

.input-field--content__checkbox--icon__checked {
  display: inline-block;
  padding: 7px 7px 7px 7px;
}

.input-field--content__checkbox--icon__checked:after{
  content: '';
  display: block;
  width: 13px;
  height: 8px;
  border: solid var(--dark-indigo);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(135deg) scaleY(-1);
          transform: rotate(135deg) scaleY(-1);
}

.input-field--content__checkbox--text {
  margin-left: 7px;
  font-size: 14px;
  color: var(--black);
}

.input-field--content__file {
  display: inline-block;
  color: transparent;
  width: 85px;
  margin-right: 6px;
}

.input-field--content__file::-webkit-file-upload-button {
  height: 27px;
  font-size: 9px;
  font-weight: bold;
  color: var(--primary-blue);
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(32, 22, 98, 0.1);
  border: 1px solid rgba(74, 74, 74, .2);
  padding: 8px 8px 8px 8px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}

.input-field--content__file--requirements {
  font-size: 12px;
  color: var(--greyish-brown);
}

.input-field--content__file--preview {
  border: 1px dashed var(--primary-blue);
  display: block;
  margin-bottom: 11px;
}

.input-field--content__file--preview__40x40 {
  max-width: 40px;
  max-height: 40px;
}

.input-field--content__file--preview__100x100 {
  max-width: 100px;
  max-height: 100px;
}

.input-field--content__file--preview__150x150 {
  max-width: 150px;
  max-height: 150px;
}

.input-field--content__file--preview__150x100 {
  max-width: 150px;
  max-height: 100px;
}

.input-field--content__file--preview__375x75 {
  max-width: 375px;
  max-height: 75px;
}

.input-field--content__file--name {
  font-size: 14px;
  color: var(--dark-indigo);
  margin-top: 10px;
  margin-bottom: 7px;
}

.message {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(32, 22, 98, .1);
  min-height: 50px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.message--wrapper--inline {
  display: inline-block;
}

.message--text__error,
.message--text__warning {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  padding: 13px 9px 15px 6px;
}

.message--text__error {
  color: #d0021b;
}

.message--text__warning {
  color: var(--greyish-brown);
}

.message--icon {
  padding: 16px 6px 13px 15px;
}

.message--close-icon {
  padding: 16px 11px 13px 6px;
  cursor: pointer;
}


.mission-form--form {
  margin-bottom: 24px;
}

.mission-index--view {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mission-index--view--logo {
  box-sizing: border-box;
  margin: 21px 31px 30px 0px;
  width: 263px;
  height: 296px;
  padding: 16px;
  box-shadow: 0 10px 20px 0 rgba(32, 22, 98, 0.1);
}

.mission-index--view--logo img {
  width: 100%;
}

.mission-index--view--info {
  margin: 62px 0px 30px 0px;
  width: calc(100% - 300px);
  flex-grow: 2;
}

.mission-index--view--info--item,
.mission-index--view--link {
  margin-bottom: 30px;
}

.mission-index--view--link {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mission-index--view--link a {
  color: var(--primary-blue);
  text-decoration: none;
}

.mission-index--view--link span {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--greyish-brown);
  text-transform: none;
}

.token-index--view--link a {
  color: var(--primary-blue);
  text-decoration: none;
}

.mission-index--view--link a:hover {
  text-decoration: underline;
}

.mission-index--sidebar--info {
  font-size: 12px;
  color: var(--greyish-brown);
  font-weight: 500;
  margin: 15px 15px 15px 0px;
}

.mission-index--sidebar--item {
  margin: 5px 15px 5px 0px;
}

.mission-index--sidebar--item__bold {
  margin: 14px 14px 4px 0;
}

.mission-index--sidebar--item-check {
  margin: 7px;
}

.mission-index--project-single {
  display: flex;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-left: 2px solid var(--primary-purple);
  padding: 17px 16px 17px 14px;
  margin-bottom: 10px;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
  justify-content: space-between;
}

.mission-index--project-single--left {
  display: flex;
  align-items: center;
}

.mission-index--project-single--check {
  margin: 0 9px 0 0;
  box-sizing: border-box;
}

.mission-index--project-dropdown {
  margin: 0;
}

.token-index--view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.token-index--view--logo {
  margin: 21px 31px 30px 0px;
}

.token-index--view--logo img {
  max-width: 54px;
  max-height: 54px;
}

.token-index--view--info {
  margin: 21px 0px;
  flex-grow: 2;
}

.token-index--view--info--item,
.token-index--view--link {
  margin-bottom: 30px;
}

.token-index--view--info--item--name,
.mission-index--view--info--item--name {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #8a8a8a;
  padding-bottom: 0.2em;
}

.token-index--view--info--item--value,
.mission-index--view--info--item--value  {
  font-size: 16px;
  font-family: Georgia,Times,Times New Roman,serif;
  font-weight: 500;
  color: var(--black);
}

.token-index--view--link {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}

.token-index--view--link a:hover {
  text-decoration: underline;
}

.token-index--sidebar--info,
.styleguide-index--sidebar--info {
  font-size: 12px;
  color: var(--greyish-brown);
  font-weight: 500;
  margin: 15px 15px 15px 0px;
}

.token-index--sidebar--item,
.styleguide-index--sidebar--item {
  margin: 5px 15px 5px 0px;
}

.token-index--sidebar--item__bold,
.styleguide-index--sidebar--item__bold {
  margin: 14px 14px 4px 0;
}

.footer--content--nav a:hover,
.footer--content--nav a:focus {
  text-decoration: underline;
}

.header--nav--links a:hover,
.header--nav--links a:focus {
  text-decoration: underline;
}



@media screen and (max-width: 650px) {
  .layout--content {
    padding: 25px 20px 25px 20px;
  }

  .layout--subfooter--buttons {
    padding: 26px 20px 24px 15px;
    flex-direction: column;
  }

  .layout--subfooter--buttons .button {
    margin-bottom: 15px;
  }

  .footer {
    padding: 70px 25px 0px 25px;
  }

  .footer--copyright {
    margin: 80px -25px 0px -25px;
  }

  .footer--content--nav {
    display: block;
  }

  .footer--content--nav--about,
  .footer--content--nav--join,
  .footer--content--nav--legal {
    margin-left: 0;
  }
}

@media screen and (max-width: 800px) {
  .layout--back-button {
    display: none;
  }

  .layout--content--wrapper {
    flex-direction: column;
  }

  .layout--content--sidebar {
    max-width: none;
    padding: 0px;
    margin: 0px 0px 20px 0px;
  }

  .layout--content--content__sidebared {
    padding: 0;
    margin: 0;
    border-left: none;
  }

  .header--nav--links a {
    width: 100%;
    padding: 20px;
    text-align: left;
  }
}


.token-form--message,
.mission-form--message,
.project-form--message {
  margin: 30px 0px;
}

.token-form--form.
.project-form--form {
  margin-bottom: 30px;
}
