---
http_interactions:
- request:
    method: post
    uri: https://service.oreid.io/api/custodial/new-user
    body:
      encoding: UTF-8
      string: '{"name":"Eva Smith","user_name":"hunter-c8a5227efb712dcbf34321d61a4adce807c36f8e","email":"me+9732ac86a39e06e21179f5e32ca35221620f48a6@example.com","picture":null,"user_password":"a5d935fcdb3b2ea20cdeb063378b99316dc8702c933b724b278f40cd05597eab!","phone":"","account_type":"native"}'
    headers:
      Api-Key:
      - ENV[ORE_ID_API_KEY]
      Service-Key:
      - ENV[ORE_ID_SERVICE_KEY]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"39-xcGdXf1jrShZYY4NVfRIm+ivr8I"
    body:
      encoding: ASCII-8BIT
      string: '{"processId":"20107adfb474","accountName":"ore1rmttj2mb"}'
  recorded_at: Fri, 19 Mar 2021 00:38:22 GMT
- request:
    method: get
    uri: https://service.oreid.io/api/account/user?account=ore1rmttj2mb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - ENV[ORE_ID_API_KEY]
      Service-Key:
      - ENV[ORE_ID_SERVICE_KEY]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"394-sjJrjihmS0vT/G3yfTgmgKBn1MY"
    body:
      encoding: ASCII-8BIT
      string: '{"processId":"099707c1ac8e","accountName":"ore1rmttj2mb","email":"me+9732ac86a39e06e21179f5e32ca35221620f48a6@example.com","picture":null,"name":"Eva
        Smith","username":"hunter-c8a5227efb712dcbf34321d61a4adce807c36f8e","permissions":[{"chainNetwork":"algo_test","chainAccount":"FWHLGEU6I7633MESZE5CG25MS22UEWDQRZ6TVWC3DEJZE2DP57S23UYWAI","permissionName":"active","publicKey":"2d8eb3129e47fdbdb092c93a236bac96b54258708e7d3ad85b191392686fefe5","privateKeyStoredExterally":false,"externalWalletType":null,"accountType":"native","permission":"active"},{"chainNetwork":"eth_ropsten","chainAccount":"0x2cbd56bce23a3cd7811d7745420868121d45217d","permissionName":"active","publicKey":"0x2c04ec53d7dfd034ac34541eda405571ddf53b52af0be0b7a4517507ac8b95af7f46f81366a5e54c059f7ca6faf67eb5f61848ed1a3e4ab3ba9158a335f69fac","privateKeyStoredExterally":false,"externalWalletType":null,"accountType":"native","permission":"active"}]}'
  recorded_at: Fri, 19 Mar 2021 00:38:23 GMT
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/accounts/FWHLGEU6I7633MESZE5CG25MS22UEWDQRZ6TVWC3DEJZE2DP57S23UYWAI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"message":"no accounts found for address: FWHLGEU6I7633MESZE5CG25MS22UEWDQRZ6TVWC3DEJZE2DP57S23UYWAI"}

'
  recorded_at: Fri, 19 Mar 2021 00:38:23 GMT
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/accounts/FWHLGEU6I7633MESZE5CG25MS22UEWDQRZ6TVWC3DEJZE2DP57S23UYWAI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"message":"no accounts found for address: FWHLGEU6I7633MESZE5CG25MS22UEWDQRZ6TVWC3DEJZE2DP57S23UYWAI"}

'
  recorded_at: Fri, 19 Mar 2021 00:38:23 GMT
recorded_with: VCR 5.1.0
