---
http_interactions:
- request:
    method: post
    uri: https://ropsten.infura.io/v3/39f6ad316c5a4b87a0f90956333c3666
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"eth_accounts","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"result":[]}'
  recorded_at: Thu, 17 Sep 2020 19:54:18 GMT
- request:
    method: post
    uri: https://ropsten.infura.io/v3/39f6ad316c5a4b87a0f90956333c3666
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"eth_call","params":[{"to":"1","from":null,"data":"0x95d89b410000000000000000000000000000000000000000000000000000000000000000","gas":"0x3d0900","gasPrice":"0x51f4d5c00"},"latest"],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32602,"message":"invalid argument
        0: json: cannot unmarshal hex string without 0x prefix into Go struct field
        CallArgs.to of type common.Address"}}'
  recorded_at: Thu, 17 Sep 2020 19:54:18 GMT
recorded_with: VCR 5.1.0
