---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/accounts/YF6FALSXI4BRUFXBFHYVCOKFROAWBQZ42Y4BXUK7SDHTW7B27TEQB3AHSA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"account":{"address":"YF6FALSXI4BRUFXBFHYVCOKFROAWBQZ42Y4BXUK7SDHTW7B27TEQB3AHSA","amount":98561995,"amount-without-pending-rewards":98561995,"assets":[{"amount":9994900,"asset-id":13076367,"creator":"","is-frozen":false}],"pending-rewards":0,"reward-base":25538,"rewards":0,"round":10864521,"sig-type":"sig","status":"Offline"},"current-round":10864521}

        '
  recorded_at: Thu, 03 Dec 2020 11:26:51 GMT
recorded_with: VCR 5.1.0
