---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/transactions?txid=73MI7NSRI5N45JUQ5OC44LXBA7W6QBATCJRZ45F6NNUSFL7GIZVA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"current-round":12066914,"next-token":"JlC2AAAAAAAAAAAA","transactions":[{"application-transaction":{"accounts":["6447K33DMECECFTWCWQ6SDJLY7EYM47G4RC5RCOKPTX5KA5RCJOTLAK7LU"],"application-args":["dHJhbnNmZXI=","Dw=="],"application-id":13672272,"foreign-apps":[],"foreign-assets":[],"global-state-schema":{"num-byte-slice":0,"num-uint":0},"local-state-schema":{"num-byte-slice":0,"num-uint":0},"on-completion":"noop"},"close-rewards":0,"closing-amount":0,"confirmed-round":11948070,"fee":270000,"first-valid":11947438,"genesis-hash":"SGO1GKSzyE7IEPItTxCByw9x8FmnrCDexi9/cOUJOiI=","genesis-id":"testnet-v1.0","id":"73MI7NSRI5N45JUQ5OC44LXBA7W6QBATCJRZ45F6NNUSFL7GIZVA","intra-round-offset":0,"last-valid":11948438,"local-state-delta":[{"address":"IKSNMZFYNMXFBWB2JCPMEC4HT7UECC354UDCKNHQTNKF7WQG3UQW7YZHWA","delta":[{"key":"YmFsYW5jZQ==","value":{"action":2,"uint":35}}]},{"address":"6447K33DMECECFTWCWQ6SDJLY7EYM47G4RC5RCOKPTX5KA5RCJOTLAK7LU","delta":[{"key":"YmFsYW5jZQ==","value":{"action":2,"uint":15}}]}],"receiver-rewards":0,"round-time":1611621978,"sender":"IKSNMZFYNMXFBWB2JCPMEC4HT7UECC354UDCKNHQTNKF7WQG3UQW7YZHWA","sender-rewards":0,"signature":{"sig":"/0pQxMhZkfbgrX3MYxSOxRWLsB5ZzfyElzp5O+3LkmxAfFz67+x9G/EYyo0AoQsPjx8AaS+w1ZPiyxpJrirKBQ=="},"tx-type":"appl"}]}

'
  recorded_at: Sun, 31 Jan 2021 21:36:29 GMT
recorded_with: VCR 5.1.0
