---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/transactions?txid=CH3NKWKTXWVAA5VUVCJFA5D3PIYMIZUOLAVYNYL3V2OYZ7ISL3IA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"current-round":12223692,"next-token":"oUW5AAAAAAAAAAAA","transactions":[{"application-transaction":{"accounts":["IKSNMZFYNMXFBWB2JCPMEC4HT7UECC354UDCKNHQTNKF7WQG3UQW7YZHWA"],"application-args":["c2V0QWRkcmVzc1Blcm1pc3Npb25z","AA==","ZA==","AQ==","AQ=="],"application-id":13997710,"foreign-apps":[],"foreign-assets":[],"global-state-schema":{"num-byte-slice":0,"num-uint":0},"local-state-schema":{"num-byte-slice":0,"num-uint":0},"on-completion":"noop"},"close-rewards":0,"closing-amount":0,"confirmed-round":12141985,"fee":292000,"first-valid":12141970,"genesis-hash":"SGO1GKSzyE7IEPItTxCByw9x8FmnrCDexi9/cOUJOiI=","genesis-id":"testnet-v1.0","id":"CH3NKWKTXWVAA5VUVCJFA5D3PIYMIZUOLAVYNYL3V2OYZ7ISL3IA","intra-round-offset":0,"last-valid":12142970,"local-state-delta":[{"address":"IKSNMZFYNMXFBWB2JCPMEC4HT7UECC354UDCKNHQTNKF7WQG3UQW7YZHWA","delta":[{"key":"ZnJvemVu","value":{"action":2,"uint":0}},{"key":"bG9ja1VudGls","value":{"action":2,"uint":1}},{"key":"bWF4QmFsYW5jZQ==","value":{"action":2,"uint":100}}]}],"receiver-rewards":0,"round-time":1612449468,"sender":"IKSNMZFYNMXFBWB2JCPMEC4HT7UECC354UDCKNHQTNKF7WQG3UQW7YZHWA","sender-rewards":5820,"signature":{"sig":"gjp1NUscAKoBXr28OOUAXf5EycjpZIjyWnu9jER5G2GJ4GGtIj2UhIUGih/C0D0fnm2O0kb/PhQ1tJShvQJVBQ=="},"tx-type":"appl"}]}

'
  recorded_at: Mon, 08 Feb 2021 15:30:00 GMT
recorded_with: VCR 5.1.0
