---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/transactions?txid=D2SAP75JSXW3D43ZBHNLTJGASBCJDJIFLLQ5TQCZWMC33JHHQDPQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"current-round":10700166,"next-token":"J0GjAAAAAAAAAAAA","transactions":[{"asset-transfer-transaction":{"amount":400,"asset-id":13076367,"close-amount":0,"receiver":"E3IT2TDWEJS55XCI5NOB2HON6XUBIZ6SDT2TAHTKDQMKR4AHEQCROOXFIE"},"close-rewards":0,"closing-amount":0,"confirmed-round":10699047,"fee":1000,"first-valid":10699044,"genesis-hash":"SGO1GKSzyE7IEPItTxCByw9x8FmnrCDexi9/cOUJOiI=","genesis-id":"testnet-v1.0","id":"D2SAP75JSXW3D43ZBHNLTJGASBCJDJIFLLQ5TQCZWMC33JHHQDPQ","intra-round-offset":0,"last-valid":10700044,"receiver-rewards":0,"round-time":1606288319,"sender":"YF6FALSXI4BRUFXBFHYVCOKFROAWBQZ42Y4BXUK7SDHTW7B27TEQB3AHSA","sender-rewards":0,"signature":{"sig":"DphAvW1wT6jN1TyO8x6rQHsUfyaLpaUaTP91ZyLiVQFiR2KXKtl7hDifcDP96fReGsciy6DUnJYFIHEjihL1CA=="},"tx-type":"axfer"}]}

        '
  recorded_at: Wed, 25 Nov 2020 08:31:52 GMT
recorded_with: VCR 5.1.0
