---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/transactions?txid=EGVNJAAQEUJPOKAPJZIZQBWVOPCIVUTAIDG7X7XCIMOBAY7TCUXQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"current-round":12164363,"next-token":"yUW5AAAAAAAAAAAA","transactions":[{"application-transaction":{"accounts":[],"application-args":["cGF1c2U=","AQ=="],"application-id":13997710,"foreign-apps":[],"foreign-assets":[],"global-state-schema":{"num-byte-slice":0,"num-uint":0},"local-state-schema":{"num-byte-slice":0,"num-uint":0},"on-completion":"noop"},"close-rewards":0,"closing-amount":0,"confirmed-round":12142025,"fee":227000,"first-valid":12141970,"genesis-hash":"SGO1GKSzyE7IEPItTxCByw9x8FmnrCDexi9/cOUJOiI=","genesis-id":"testnet-v1.0","global-state-delta":[{"key":"cGF1c2Vk","value":{"action":2,"uint":1}}],"id":"EGVNJAAQEUJPOKAPJZIZQBWVOPCIVUTAIDG7X7XCIMOBAY7TCUXQ","intra-round-offset":0,"last-valid":12142970,"receiver-rewards":0,"round-time":1612449639,"sender":"IKSNMZFYNMXFBWB2JCPMEC4HT7UECC354UDCKNHQTNKF7WQG3UQW7YZHWA","sender-rewards":0,"signature":{"sig":"2gbDOjLMzrFjhPw6UBy39Fq7SRGldgx+kBUPUABBrlgwSyAtkXF13/lykh6sYH6XRMZ3LgPtU9La4gI12LITAQ=="},"tx-type":"appl"}]}

'
  recorded_at: Fri, 05 Feb 2021 17:10:59 GMT
recorded_with: VCR 5.1.0
