---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/transactions?txid=HQU2F6OX2GONFDQRTKTOUG4XYXMGOXVQSTIGKA6R6PNJJPIQWQQQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"current-round":12223323,"next-token":"tEW5AAAAAAAAAAAA","transactions":[{"application-transaction":{"accounts":[],"application-args":["c2V0VHJhbnNmZXJSdWxl","AQ==","AQ==","AQ=="],"application-id":13997710,"foreign-apps":[],"foreign-assets":[],"global-state-schema":{"num-byte-slice":0,"num-uint":0},"local-state-schema":{"num-byte-slice":0,"num-uint":0},"on-completion":"noop"},"close-rewards":0,"closing-amount":0,"confirmed-round":12142004,"fee":243000,"first-valid":12141970,"genesis-hash":"SGO1GKSzyE7IEPItTxCByw9x8FmnrCDexi9/cOUJOiI=","genesis-id":"testnet-v1.0","global-state-delta":[{"key":"cnVsZQAAAAAAAAABAAAAAAAAAAE=","value":{"action":2,"uint":1}}],"id":"HQU2F6OX2GONFDQRTKTOUG4XYXMGOXVQSTIGKA6R6PNJJPIQWQQQ","intra-round-offset":0,"last-valid":12142970,"receiver-rewards":0,"round-time":1612449549,"sender":"IKSNMZFYNMXFBWB2JCPMEC4HT7UECC354UDCKNHQTNKF7WQG3UQW7YZHWA","sender-rewards":0,"signature":{"sig":"UxVxSfyrLeXGY6Hs+wbMjUnTSkWXkgly1+3LxiiwU1kt5ZfRFj7DSuBPxWRanVpPpfi+7+V9rzn4nErton+/BA=="},"tx-type":"appl"}]}

'
  recorded_at: Mon, 08 Feb 2021 15:03:52 GMT
recorded_with: VCR 5.1.0
