---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/transactions?txid=IWT2FUQOQQTGIMOLJAULGAPAU4ZCYE7AZQY7L2U7RFWOHAVXG2EA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"current-round":12164181,"next-token":"uUW5AAAAAAAAAAAA","transactions":[{"application-transaction":{"accounts":["IKSNMZFYNMXFBWB2JCPMEC4HT7UECC354UDCKNHQTNKF7WQG3UQW7YZHWA"],"application-args":["bWludA==","Mg=="],"application-id":13997710,"foreign-apps":[],"foreign-assets":[],"global-state-schema":{"num-byte-slice":0,"num-uint":0},"local-state-schema":{"num-byte-slice":0,"num-uint":0},"on-completion":"noop"},"close-rewards":0,"closing-amount":0,"confirmed-round":12142009,"fee":266000,"first-valid":12141970,"genesis-hash":"SGO1GKSzyE7IEPItTxCByw9x8FmnrCDexi9/cOUJOiI=","genesis-id":"testnet-v1.0","global-state-delta":[{"key":"cmVzZXJ2ZQ==","value":{"action":2,"uint":79999999999999950}},{"key":"dG90YWxTdXBwbHk=","value":{"action":2,"uint":50}}],"id":"IWT2FUQOQQTGIMOLJAULGAPAU4ZCYE7AZQY7L2U7RFWOHAVXG2EA","intra-round-offset":0,"last-valid":12142970,"local-state-delta":[{"address":"IKSNMZFYNMXFBWB2JCPMEC4HT7UECC354UDCKNHQTNKF7WQG3UQW7YZHWA","delta":[{"key":"YmFsYW5jZQ==","value":{"action":2,"uint":50}}]}],"receiver-rewards":0,"round-time":1612449570,"sender":"IKSNMZFYNMXFBWB2JCPMEC4HT7UECC354UDCKNHQTNKF7WQG3UQW7YZHWA","sender-rewards":0,"signature":{"sig":"jLvI5IxMhOO66hwGXD3uLxrlqhlMqtWBB88a/3wOuIv3yoUp903bZLMDk4ZEWuJOfaykKXWfUsdQluS1Kj+MBw=="},"tx-type":"appl"}]}

'
  recorded_at: Fri, 05 Feb 2021 16:58:00 GMT
recorded_with: VCR 5.1.0
