---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/transactions?txid=UJZVA464VM2SY7AKS426PD3XOOBTRF27DB5OYIT4HCBSKZPFWOZA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"current-round":12223755,"next-token":"rkW5AAAAAAABAAAA","transactions":[{"application-transaction":{"accounts":["6447K33DMECECFTWCWQ6SDJLY7EYM47G4RC5RCOKPTX5KA5RCJOTLAK7LU"],"application-args":["c2V0QWRkcmVzc1Blcm1pc3Npb25z","AA==","ZA==","AQ==","AQ=="],"application-id":13997710,"foreign-apps":[],"foreign-assets":[],"global-state-schema":{"num-byte-slice":0,"num-uint":0},"local-state-schema":{"num-byte-slice":0,"num-uint":0},"on-completion":"noop"},"close-rewards":0,"closing-amount":0,"confirmed-round":12141998,"fee":292000,"first-valid":12141970,"genesis-hash":"SGO1GKSzyE7IEPItTxCByw9x8FmnrCDexi9/cOUJOiI=","genesis-id":"testnet-v1.0","id":"UJZVA464VM2SY7AKS426PD3XOOBTRF27DB5OYIT4HCBSKZPFWOZA","intra-round-offset":1,"last-valid":12142970,"local-state-delta":[{"address":"6447K33DMECECFTWCWQ6SDJLY7EYM47G4RC5RCOKPTX5KA5RCJOTLAK7LU","delta":[{"key":"ZnJvemVu","value":{"action":2,"uint":0}},{"key":"bG9ja1VudGls","value":{"action":2,"uint":1}},{"key":"bWF4QmFsYW5jZQ==","value":{"action":2,"uint":100}}]}],"receiver-rewards":0,"round-time":1612449523,"sender":"IKSNMZFYNMXFBWB2JCPMEC4HT7UECC354UDCKNHQTNKF7WQG3UQW7YZHWA","sender-rewards":0,"signature":{"sig":"i1lgXck5UKgUUqt5XQ+PqRSaT73Zd3Z4WarE4NsaVj+4GvNKQw5JLNV5E8s3nY5vJLMxT/H35qxpWnzLXgK3Ag=="},"tx-type":"appl"}]}

'
  recorded_at: Mon, 08 Feb 2021 15:34:30 GMT
recorded_with: VCR 5.1.0
