---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/transactions?txid=UV7YMGF6ZQHHLGO63BSPLR5TFV4PYYMHPJDEUIDXMZNVVUCNLIRQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"current-round":12142947,"next-token":"00W5AAAAAAAAAAAA","transactions":[{"application-transaction":{"accounts":["6447K33DMECECFTWCWQ6SDJLY7EYM47G4RC5RCOKPTX5KA5RCJOTLAK7LU"],"application-args":["dHJhbnNmZXI=","Dw=="],"application-id":13997710,"foreign-apps":[],"foreign-assets":[],"global-state-schema":{"num-byte-slice":0,"num-uint":0},"local-state-schema":{"num-byte-slice":0,"num-uint":0},"on-completion":"noop"},"close-rewards":0,"closing-amount":0,"confirmed-round":12142035,"fee":270000,"first-valid":12141970,"genesis-hash":"SGO1GKSzyE7IEPItTxCByw9x8FmnrCDexi9/cOUJOiI=","genesis-id":"testnet-v1.0","id":"UV7YMGF6ZQHHLGO63BSPLR5TFV4PYYMHPJDEUIDXMZNVVUCNLIRQ","intra-round-offset":0,"last-valid":12142970,"local-state-delta":[{"address":"IKSNMZFYNMXFBWB2JCPMEC4HT7UECC354UDCKNHQTNKF7WQG3UQW7YZHWA","delta":[{"key":"YmFsYW5jZQ==","value":{"action":2,"uint":5}}]},{"address":"6447K33DMECECFTWCWQ6SDJLY7EYM47G4RC5RCOKPTX5KA5RCJOTLAK7LU","delta":[{"key":"YmFsYW5jZQ==","value":{"action":2,"uint":15}}]}],"receiver-rewards":0,"round-time":1612449682,"sender":"IKSNMZFYNMXFBWB2JCPMEC4HT7UECC354UDCKNHQTNKF7WQG3UQW7YZHWA","sender-rewards":0,"signature":{"sig":"bfMLPTNrBm3DOTlVlY6ui2t3H5xcxyVOmDgE6AsUb5vNTlYUdRo3aV7F7A77J2BD57EZb/5KcBUb+X4vJUvLDg=="},"tx-type":"appl"}]}

'
  recorded_at: Thu, 04 Feb 2021 15:46:39 GMT
recorded_with: VCR 5.1.0
