---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/transactions?txid=Y5HSTSGQMAGYJW4SXIWTGSJAVSN4LKKN3GNUFVFAS5QBOFOQ6KYQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"current-round":11105464,"next-token":"kHSpAAAAAAAAAAAA","transactions":[{"application-transaction":{"accounts":[],"application-args":[],"application-id":13258116,"foreign-apps":[],"foreign-assets":[],"global-state-schema":{"num-byte-slice":0,"num-uint":0},"local-state-schema":{"num-byte-slice":0,"num-uint":0},"on-completion":"optin"},"close-rewards":0,"closing-amount":0,"confirmed-round":11105424,"fee":1000,"first-valid":11105421,"genesis-hash":"SGO1GKSzyE7IEPItTxCByw9x8FmnrCDexi9/cOUJOiI=","genesis-id":"testnet-v1.0","id":"Y5HSTSGQMAGYJW4SXIWTGSJAVSN4LKKN3GNUFVFAS5QBOFOQ6KYQ","intra-round-offset":0,"last-valid":11106421,"local-state-delta":[{"address":"IF3NLBLMC7A76RYCHZEIOJZULW7NDYQW4FHLJT3HZSU6GL6SEXLQLXFDXI","delta":[{"key":"YmFsYW5jZQ==","value":{"action":2,"uint":0}},{"key":"dHJhbnNmZXIgZ3JvdXA=","value":{"action":2,"uint":1}}]}],"receiver-rewards":0,"round-time":1608024338,"sender":"IF3NLBLMC7A76RYCHZEIOJZULW7NDYQW4FHLJT3HZSU6GL6SEXLQLXFDXI","sender-rewards":0,"signature":{"sig":"ldjWtscii3V67TagjnsZcCbIliusi33u81PVbbNZSfl/ydPh6GTiWxDdZV+IoD3aFTxIOO4/IrvisF0c4IhiAw=="},"tx-type":"appl"}]}

        '
  recorded_at: Tue, 15 Dec 2020 09:28:40 GMT
recorded_with: VCR 5.1.0
