// Callouts (aka flash, alert-box, etc)

.callout {
  margin-bottom: 1em;
  margin-top: -.3em;
  border: 0;
  font-size: 18px;
  padding: 16px 20px 13px;
  margin-bottom: 20px;

  .close {
    color: black;
  }
}

.callout.notice {
  background-color: hsl(82, 100%, 85%);
  color:            hsl(114, 44%, 46%);
  .close-button {
    color: hsl(114, 44%, 46%);
  }
}

.callout.alert {
  background-color: hsl(60, 100%, 85%);
  color:            hsl(0, 44%, 46%);
}

.callout.error {
  background-color: #FFF3F7;
  color: $error-color;
  .close-button {
    color: $error-color;
  }
}
