// Callouts (aka flash, alert-box, etc)

.callout {
  margin: 0 0 0 0;
  border: 0;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  
  .close {
    color: black;
  }
}

.callout.notice {
  background-color: hsl(82, 100%, 85%);
  color:            hsl(114, 44%, 46%);
  .close-button {
    color: hsl(114, 44%, 46%);
  }
}

.callout.alert {
  background-color: hsl(60, 100%, 85%);
  color:            hsl(0, 44%, 46%);
}

.callout.error {
  background-color: #FFF3F7;
}
