body.projects-edit, body.projects-new, body.projects-create  {
  // .top-bar, .main > .columns {
  //   max-width: 57em;
  // }
}
form.edit_project, form.new_project {
  input#project_image {
    border: 1px solid #ccc;
    padding: .65em;
    cursor: pointer;
  }
  .project-image {
    max-width: 30em;
    max-height: 20.5em;
    height: auto;
    width: auto;
  }
  textarea {
    height: 9em;
  }
  .add-award-type {
    margin-bottom: 2em;
  }
  input[type="checkbox"] {
    margin-top: .7em;
  }
  .close {
    font-size: 2em;
    margin-top: -.2em;
    display: inline-block;
  }

  .legal-box-header {
    h3 {
      display: inline;
    }
    margin-bottom: 10px;
    i.fa-lock {
      padding-top: 10px;
      font-size: 30px;
      float: right;
    }
  }
}
