body.projects-edit, body.projects-new, body.projects-create  {
  // .top-bar, .main > .columns {
  //   max-width: 57em;
  // }
}

body.projects-edit {
  .vertical.menu li { padding: 0 0;}
  .vertical.menu { width: 175px; }
  @media only screen and (max-width: 1024px) {
    .vertical.menu { display: none; }
  }
}

form.edit_project, form.new_project {
  input#project_image {
    border: 1px solid #ccc;
    padding: .65em;
    cursor: pointer;
  }
  .project-image {
    max-width: 30em;
    max-height: 20.5em;
    height: auto;
    width: auto;
  }
  textarea {
    height: 9em;
  }

  textarea.award-type-description {
    height: 7em;
    font-size: 11px;
  }

  .add-award-type {
    margin-bottom: 2em;
  }
  .small-1.award-amount {
    padding: 0;
    input {
      padding-left: 0.1rem;
      padding-right: 0.1rem;
    }
  }
  input[type="checkbox"] {
    margin-top: .7em;
  }
  .close {
    font-size: 2em;
    margin-top: -.2em;
    display: inline-block;
  }

  .legal-box-header {
    h3 {
      display: inline;
    }
    margin-bottom: 10px;
    i.fa-lock {
      padding-top: 10px;
      font-size: 30px;
      float: right;
    }
  }
}
