.contain-to-grid {
  background-color: white;
}

.contain-to-grid .top-bar {
  max-width: 75em;
  padding: .7em 1em;

  .name h1 {
    color: #5C5C5C;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0;
    span {
      color: #CE00FF;
      font-size: inherit;
    }
  }
  .top-bar-right ul li > a {
    color: $mediumgray;
    text-transform: lowercase;
    letter-spacing: 0;
    font-size: 16px;
    &:hover, &:active {
      background: white!important;
    }
  }
  .top-bar-text {
    margin-top: .1em;
  }
  input {
    margin-right: .5rem;
    margin-top: .3em;
    font-size: 9pt;
    padding: 0em .5em;
    height: 2.5em;
    float: left;
    text-transform: lowercase;

    &.button {
      margin-top: .2em;
    }
  }
  .project-icon {
    margin-right: 10px;
    margin-left: 10px;
  }
}
