@import 'variables';
.contain-to-grid {
  background-color: white;
}
.contain-to-grid .top-bar {
  max-width: 100%;
  .name h1 {
    color: #5C5C5C;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    span {
      color: #CE00FF;
      font-size: inherit;
    }
  }
  .top-bar-section ul li > a {
    color: $palate1-mediumgray;
    text-transform: lowercase;
    letter-spacing: 0;
    font-size: 16px;
    &:hover, &:active {
      background: white!important;
    }
  }
}
