.contain-to-grid {
  background-color: #3a3a3a;
  padding: 20px;
  .logo{
    height: 20px;
  }
  .menu{
    float: right;
    color: #fff;
    margin-top: -4px;
    a{
      color: #fff;
      font-weight: bold;
    }
  }
  .avatar{
    height: 32px;
    margin-right: 5px;
  }
}

.contain-to-grid.hide-for-medium{
  padding: 17px;
}

.header-bg{
  width: 100%;
  z-index: -1;
}

.contain-to-grid .top-bar {
  padding: 1em 2em;

  a {
   color: $mediumgray;
   text-transform: lowercase;
   letter-spacing: 0;
   font-size: 16px;
   &:hover, &:active {
     background: white!important;
   }
  }

  .logo {
    width: auto;
    height: 60px;
  }

  .account-links {
    margin-top: .5rem;
  }

  .top-bar-left {
    margin-top: 10px;
  }

  .top-bar-text {
    margin-top: .1em;
  }

  .menu > li {
    display: inline-block;
  }
  .menu > li .first {
    padding-left: 0;
  }

  input {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
    margin-right: .5rem;
    font-size: 9pt;
    padding: 0em .5em;
    height: 2.5em;
    float: left;
    text-transform: lowercase;

    &.button {
      margin-top: .3em;
    }
  }
  .project-icon {
    margin-right: 10px;
    margin-left: 10px;
    width: 34px;
    height: 34px;
  }
  @media screen and (max-width: 39.9375em) {
    .project-icon {
      margin-left: 0;
    }
  }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .project-icon {
      margin-left: 0;
    }
  }

  .project-search {
    div {
      padding: 5px 0px 5px 0px;
    }
  }
}
