.contain-to-grid {
  background-color: white;
}
.contain-to-grid .top-bar, .project-head > .columns {
  @media #{$large-up} {
    width: 75em;
  }
  @media only screen and (min-width: 64.063em) and (max-width: 75em) {
    width: 64em;
  }
}
.contain-to-grid .top-bar {
  padding: .7em 1em;

  a {
   color: $mediumgray;
   text-transform: lowercase;
   letter-spacing: 0;
   font-size: 16px;
   &:hover, &:active {
     background: white!important;
   }
  }

  .logo {
    width: auto;
    height: 60px;
  }
  @media screen and (max-width: 39.9375em) {
    input {
      margin-top: .5rem !important;
      margin-bottom: .5rem !important;
    }
    .account-links {
      margin-top: .5rem;
    }
  }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    input {
      margin-top: .5rem !important;
      margin-bottom: .5rem !important;
    }
    .account-links {
      margin-top: .5rem;
    }
  }
  @media #{$large-up} {
    .top-bar-right {
      margin-top: 10px;
    }
  }
  .top-bar-text {
    margin-top: .1em;
  }

  .menu > li {
    display: inline-block;
  }
  .menu > li .first {
    padding-left: 0;
  }

  input {
    margin-right: .5rem;
    margin-top: .3em;
    font-size: 9pt;
    padding: 0em .5em;
    height: 2.5em;
    float: left;
    text-transform: lowercase;

    &.button {
      margin-top: .2em;
    }
  }
  .project-icon {
    margin-right: 10px;
    margin-left: 10px;
  }
  @media screen and (max-width: 39.9375em) {
    .project-icon {
      margin-left: 0;
    }
  }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .project-icon {
      margin-left: 0;
    }
  }
}
.project-search {
  div {
    padding: 0;
  }
}
