@import 'extensions';
@import 'header';
@import 'homepage';
@import 'projectbox';
@import 'projectshow';
@import 'awards_table';
@import 'callouts';
@import 'edit';
@import 'bar_chart';

body {
  background-color: white;

  &.projects-landing.signed-out, &.projects-show {
    .top-bar-container {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
  &.projects-landing .app-container {
    h2, h1 {
      font-size: 36px;
      margin-bottom: .7em;
    }
  }
}

.app-container {
  @include grid-row($behavior: collapse);
  max-width: none;
  width: 100%;

  .main > .columns {
    float: none;
  }
}

.app-aside {
  @include grid-column($columns: 12);
  @include padding-leader(.5);
  background: darken($vapor, 15);
}

@media #{$medium-up} {
  .app-nav {
    @include grid-column($columns: 2);
  }
  .app-content {
    @include grid-column($columns: 6);
  }
  .app-content-wide {
    @include grid-column($columns: 10);
  }
  .app-aside {
    @include grid-column($columns: 4);
  }
}

.main {
  padding-bottom: 4em;

  h1 {
    font-size: 2.7em;
    margin-bottom: .4em;
  }
}

.top-bar-right ul li > a {
  @extend %chunko-text;
  text-align: right;
  padding-right: 15px;
}

a .button, a .button.take-action {
  @extend %chunko-text;
  color: $snow;
}

.button {
  margin: 5px 4px;
}

.button.primary {
  background-color: limegreen;
}

.button.secondary {
  background-color: lightgray;
}

a.more {
  font-size: 16pt;
  text-transform: lowercase;
}

.project-image {
  border-radius: $global-radius;
}

form.take-action-form p.notice {
  color: $snow;
}

.centered {
  text-align: center;
}

.font-large {
  font-size: $font-size-large;
}

.font-medium {
  font-size: $font-size-medium;
}

.font-small {
  font-size: $font-size-small;
}

.font-tiny {
  font-size: $font-size-tiny;
}

.margin-right-small {
  margin-right: 10px;
}

.margin-small {
  margin: 10px;
}

.margin-tiny {
  margin: 5px;
}

.inline-block {
  display: inline-block;
}

.clear-both {
  clear: both;
  width: 100%;
}

.avatar-img {
  max-width: 27px;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
}

.sixteen-nine {
  @include aspect-ratio(16, 9);
}

.skyblue {
  color: $skyblue;
}

.help-text {
  color: $mediumgray;
  font-size: 9pt;
}

.content-box {
  border: 1px solid #ccc;
  padding: 20px 50px;
  margin-bottom: 20px;
  border-radius: $global-radius;
  background-color: white;

  input[type="radio"] {
    margin-right: 10px;
    margin-left: 2px;
  }
  label {
    font-weight: inherit;
    .grayed-out {
      color: #999;
    }
  }

  @include box-shadow(0px 1px 2px 1px rgba(0, 0, 0, 0.12));
}

ul {
  margin-left: 0px;
  li {
    list-style: none;
    margin-bottom: 5px;
  }
}

.project-nav {
  margin-bottom: 1em;
  ul {
    li {
      font-size: 18px;
      display: inline;
      float: left;
      margin-bottom: 0px;
    }
  }
}

.license-markdown {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.1rem;
  }
}

.table-box {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: $global-radius;
  background-color: white;

  th, td {
    text-align: left;
  }
  table {
    margin-bottom: 0px;
  }

  @include box-shadow(0px 1px 2px 1px rgba(0, 0, 0, 0.12));
}

.award-rows {
  .financial {
    text-align: right;
  }
}

.input-group {
  padding: 0;
}

.input-group-label {
  padding-top: 0;
  padding-bottom: 0;
  height: 10px;
}

.denomination {
  height: 10px;
}

.required::after {
  content: " (Required)";
  color: $mediumgray;
}

.error {
  select {
    border: 2px solid $error-color;
  }
  small.error {
    color: $error-color;
    display: block;
    margin-top: -1em;
    margin-bottom: 1em;
  }
}

.summary {
  min-width: 500px;

  .table-box, .content-box {
    margin-right: 0px;
  }

}

table.summary-table {
  tr td:first-of-type {
    width: 250px;
  }
}

.coin-numbers {
  font-size: 1.4em;
}

.conversational-form {
  font-size: 1.9375rem;
  font-color: $steel;

  input[type=number] {
    display: inline;
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .row {
    margin-bottom: 15px;
  }
}

.flush-left-column {
  padding-left: 0px;
  h3 {
    padding-left: 10px;
  }
}

.money {
  color: green;
  td {
    font-size: 1.1em;
  }
}

progress.first-segment {
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
  border-radius: 9px;
  width: 300px;
}

progress {
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
  border-radius: 9px;
  width: 300px;
}

.meter-box {
  min-width: 250px;
  width: 100%;
  table {
    overflow: auto;
    border-style: none;
    tbody {
      border: none;
    }
    tr {
      background-color: white;
      td {
        padding: 2px;
        text-align: right;
      }
    }
  }
  .meter {
    height: 25px;
    background: $steel;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    overflow: visible;
    color: white;
    padding: 0px;

    .complete {
      display: inline-block;
      vertical-align: middle;

      float: left;
      height: 100%;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      background-color: green;
      box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
      inset 0 -2px 6px rgba(0, 0, 0, 0.4);
      position: relative;
      overflow: visible;
      text-align: right;
      padding-right: 5px;
      padding-left: 6px;
    }

    .incomplete {
      float: left;
      vertical-align: middle;
      padding-left: 5px;

      height: 100%;
      position: relative;
      overflow: visible;
      text-align: left;
    }
  }

  .meter-text {
    overflow: auto;
    .title {
      text-align: right;
    }
    .incomplete-text, .complete-text {
      display: inline-block;
      float: left;
      position: relative;
      overflow: visible;
      height: 100%;
    }

    .complete-text {
      vertical-align: bottom;
      text-align: right;
      padding-left: 6px;
      padding-right: 5px;
    }

    .end-text {
      display: inline-block;
      float: right;
      text-align: right;
      position: relative;
      overflow: visible;
      height: 100%;
    }
  }
}
