@import 'extensions';
@import 'header';
@import 'homepage';
@import 'projectbox';
@import 'projectshow';
@import 'awards_table';
@import 'callouts';
@import 'edit';
@import 'bar_chart';

body {
  background-color: white;

  &.projects-landing.signed-out, &.projects-show {
    .top-bar-container {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
  &.projects-landing .app-container {
    h2, h1 {
      font-size: 36px;
      margin-bottom: .7em;
    }
  }
}
.app-container {
  @include grid-row($behavior: collapse);
  max-width: none;
  width: 100%;

  .main > .columns {
    float: none;
  }
}
.app-aside {
  @include grid-column($columns: 12);
  @include padding-leader(.5);
  background: darken($vapor, 15);
}
@media #{$medium-up} {
  .app-nav {
    @include grid-column($columns: 2);
  }
  .app-content {
    @include grid-column($columns: 6);
  }
  .app-content-wide {
    @include grid-column($columns: 10);
  }
  .app-aside {
    @include grid-column($columns: 4);
  }
}
.main {
  padding-bottom: 4em;

  h1 {
    font-size: 2.7em;
    margin-bottom: .4em;
  }
}
.top-bar-right ul li > a {
  @extend %chunko-text;
  text-align: right;
  padding-right: 15px;
}
a .button, a .button.take-action {
  @extend %chunko-text;
  color: $snow;
}
.button {
  margin: 5px 4px;
}

.button.primary {
  background-color: limegreen;
}

.button.secondary {
  background-color: lightgray;
}

a.more {
  font-size: 16pt;
  text-transform: lowercase;
}

.project-image {
  border-radius: $global-radius;
}

form.take-action-form p.notice {
  color: $snow;
}

.centered {
  text-align: center;
}

.font-large {
  font-size: $font-size-large;
}

.font-medium {
  font-size: $font-size-medium;
}

.font-small {
  font-size: $font-size-small;
}

.font-tiny {
  font-size: $font-size-tiny;
}

.margin-right-small {
  margin-right: 10px;
}

.margin-small {
  margin: 10px;
}

.margin-tiny {
  margin: 5px;
}

.inline-block {
  display: inline-block;
}

.clear-both {
  clear: both;
  width: 100%;
}

.avatar-img {
  max-width: 27px;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
}

.sixteen-nine {
  @include aspect-ratio(16, 9);
}

.skyblue {
  color: $skyblue;
}

.help-text {
  color: $mediumgray;
  font-size: 9pt;
}

.content-box {
  border: 1px solid #ccc;
  padding: 20px 50px;
  margin-bottom: 20px;
  border-radius: $global-radius;
  background-color: white;


  input[type="radio"] {
    margin-right: 10px;
    margin-left: 2px;
  }
  label {
    font-weight: inherit;
    .grayed-out {
      color: #999;
    }
  }

  @include box-shadow(0px 1px 2px 1px rgba(0, 0, 0, 0.12));
}
ul {
  margin-left: 0px;
  li {
    list-style: none;
    margin-bottom: 5px;
  }
}
.project-nav {
  margin-bottom: 1em;
  ul {
    li {
      font-size: 18px;
      display: inline;
      float: left;
      margin-bottom: 0px;
    }
  }
}

.license-markdown {
  h1 { font-size: 1.5rem; }
  h2 { font-size: 1.25rem; }
  h3 { font-size: 1.1rem; }
}

.table-box {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: $global-radius;
  background-color: white;

  th, td {
    text-align: left;
  }
  table {
    margin-bottom: 0px;
  }

  @include box-shadow(0px 1px 2px 1px rgba(0, 0, 0, 0.12));
}