@import 'extensions';
@import 'header';
@import 'homepage';
@import 'projectbox';
@import 'projectshow';
@import 'callouts';

body {
  background-color: white;

  .top-bar-container {
    border-bottom: 1px solid #ccc;
    margin-bottom: 2em;
  }
  &.projects-landing.signed-out, &.projects-show {
    .top-bar-container {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
  &.projects-landing .app-container {
    h2, h1 {
      font-size: 36px;
      margin-bottom: .7em;
    }
  }
}
.app-container {
  @include grid-row($behavior: collapse);
  max-width: none;
  width: 100%;

  .large-10.large-centered.columns {
    float: none;
    max-width: 75em;
  }
}
.app-aside {
  @include grid-column($columns: 12);
  @include padding-leader(.5);
  background: darken($vapor, 15);
}
@media #{$medium-up} {
  .app-nav {
    @include grid-column($columns: 2);
  }
  .app-content {
    @include grid-column($columns: 6);
  }
  .app-content-wide {
    @include grid-column($columns: 10);
  }
  .app-aside {
    @include grid-column($columns: 4);
  }
}
.main {
  padding-bottom: 4em;
}
.top-bar-right ul li > a {
  @extend %chunko-text;
  text-align: right;
  padding-right: 15px;
}
.logo {
  width: rem-calc(90);
  height: auto;
  padding: $topbar-height/6 0 $topbar-height/5 0;
  max-height: $topbar-height;
}
a .button, a .button.take-action {
  @extend %chunko-text;
  color: $snow;
}
a.more {
  font-size: 16pt;
  text-transform: lowercase;
}
form.take-action-form p.notice {
  color: $snow;
}
.award-rows .header {
  font-weight: bold;
  text-transform: uppercase;
}
.award-rows .header-row {
  border-bottom: 1px solid $iron;
  margin-bottom: 15px;
  padding: 5px;
}
.underlined-header {
  border-bottom: 1px solid $iron;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;

  text-transform: uppercase;
  font-size: .8em;
}
.centered {
  text-align: center;
}
.font-large {
  font-size: $font-size-large;
}
.font-medium {
  font-size: $font-size-medium;
}
.font-small {
  font-size: $font-size-small;
}
.font-tiny {
  font-size: $font-size-tiny;
}