@import 'extensions';
@import 'header';
@import 'homepage';
@import 'projectbox';

body {
  background-color: white;

  &.signed-in {
    .top-bar-container {
      border-bottom: 1px solid #ccc;
    }
    .app-container {
      margin-top: 1.5em;
    }
  }
}

.text-primary {
  color: $primary-color;
}

.text-alert {
  color: $alert-color;
}

.app-container {
  @include grid-row($behavior: collapse);

  .large-10.large-centered.columns {
    float: none;
  }
}

.app-nav {
  @include grid-column($columns: 12);
  @include padding-leader(.5);
  background: $primary-color;
  li a:not(.button) {
    color: white;
  }
}

.app-content {
  @include grid-column($columns: 12);
  @include padding-leader(.5);
}

.app-content-wide {
  @include grid-column($columns: 12);
  @include padding-leader(.5);
}

.app-aside {
  @include grid-column($columns: 12);
  @include padding-leader(.5);
  background: darken($vapor, 15);
}

@media #{$medium-up} {
  .app-container {
    max-width: none;
  }
  .app-nav {
    @include grid-column($columns: 2);
  }
  .app-content {
    @include grid-column($columns: 6);
  }
  .app-content-wide {
    @include grid-column($columns: 10);
  }
  .app-aside {
    @include grid-column($columns: 4);
  }
}

.main {
  padding-bottom: 4em;
}

.button.bordered {
  border: solid 2px $snow;
}

.top-bar-right ul li > a {
  @extend %chunko-text;
  text-align: right;
  padding-right: 15px;
}

.alert-box.flash-msg {
  margin-bottom: 20px;
}

.logo {
  width: rem-calc(90);
  height: auto;
  padding: $topbar-height/6 0 $topbar-height/5 0;
  max-height: $topbar-height;
}

a .button, a .button.take-action {
  @extend %chunko-text;
  color: $snow;
}

form.take-action-form p.notice {
  color: $snow;
}

.award-rows .header {
  font-weight: bold;
  text-transform: uppercase;
}

.award-rows .header-row {
  border-bottom: 1px solid $iron;
  margin-bottom: 15px;
  padding: 5px;
}

.underlined-header {
  border-bottom: 1px solid $iron;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

.text-light-gray {
  color: lightgrey;
}

.alert-box .close {
  color: black;
}

.form-box {
  padding: 20px;
}

.underline {
  text-decoration: underline;
}

.centered {
  text-align: center;
}

.font-large {
  font-size: $font-size-large;
}

.font-medium {
  font-size: $font-size-medium;
}

.font-small {
  font-size: $font-size-small;
}

.font-tiny {
  font-size: $font-size-tiny;
}

.projects-landing .app-container {
  h2, h1 {
    font-size: 36px;
    margin-bottom: .7em;
  }
}

.row.project-body {
  margin-top: 2.6em;
  h3 {
    margin-bottom: .5em;
  }
}

.alert-box {
  margin-bottom: 1em;
  margin-top: -.3em;
  background-color: #E3FFB3;
  border: 0;
  color: #4CA941;
  font-size: 18px;
  padding: 14px 20px;
}

.award-send {
  border: 1px solid #ccc;
  padding: 20px 50px;

  input[type="radio"] {
    margin-right: 10px;
  }
}
.project-header {
  margin-bottom: 2em;
  text-align: center;

  h1 {
    margin: 0;
  }
  a.edit {
    margin-left: 1em;
  }
}
.project-image {
  width: 100%;
  height: 20em;
  background-size: cover;
  background-position: center center;
}
.row.project-tasks {
  margin-top: 1em;
}

.row.project-settings {
  margin-bottom: .5em;
}


.project-search {
  div {
    padding: 0;
  }
}

//.project-highlighted {
//  background-color: $orchid;
//}
