.row.project {
  margin: .2em 0em 2.5em .2em;
  border-radius: 3px;
  box-shadow: 0 10px 20px 0 rgba(32, 22, 98, .1);
  width: 100%;
  transition: box-shadow 0.25s ease-in-out;

  &:hover {
    box-shadow: 0 10px 20px 0 rgba(32, 22, 98, .2);
  }

  .image-block {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  .project-last-award {
    font-style: italic;
    font-weight: 300;
    margin-bottom: .4em;
    color: #aaa;
  }
  .info {
    position: relative;
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
      min-height: 100px;
    }
    @media #{$large-up} {
      min-height: 100px;
    }

    .details {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 0.5em;

      .details__interested {
        padding: 0 1em;
        font-size: 13px;
        text-transform: capitalize;
      }
    }

    .text-overlay {
      min-height: 60px;
      position: absolute;
      -webkit-backdrop-filter: blur(50px);
      backdrop-filter: blur(50px);
      width: 100%;
      padding: 6px 5px 0px 14px;
      top: -75px;
      opacity: 0.9;
      color: white;

      a {
        color: white;
      }
      i {
        font-size: .8em;
      }
      h5 {
        margin: 0;
        font-weight: 600;
        margin-bottom: 0;
      }
    }
    p {
      padding-left: 1em;
    }
    .icon {
      border: 2px solid white;
      position: absolute;
      left: 1em;
      top: -95px;
      height: 55px;
      box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.12);
    }
    p {
      font-size: 13px;
      line-height: 1.3;
      font-weight: 500;
      margin-bottom: .5em;
    }
    .description {
      min-height: 2.5em;
    }
    .description.no-last-award {
      min-height: 4.2em;
    }
  }

  .contributors {
    display: inline-block;
    float: right;
    .contributor {
      margin-left: 6px;
      margin-right: 8px;
    }
  }
}
