.projects-show {
  .callout.flash-msg {
    margin-top: 20px;
  }
  #award-percentages svg {
    overflow: overlay;
  }
}
.project-head {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 2.3em 0 2.5em;
  background: $palegray;
  @include box-shadow(inset 0px 8px 35px -20px rgba(0,0,0,0.25))
}
.project-title {
  margin-bottom: 2em;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 2.7em;
  }
  a.edit {
    margin-left: 1em;
  }
}
.project-image {
  iframe {
    width: 100%;
    height: 20em;
  }
  width: 100%;
  height: auto;
}
.row.project-body {
  margin-top: 2.6em;
  h3 {
    margin-bottom: .5em;
  }
}
.award-send {
  border: 1px solid #ccc;
  padding: 20px 50px;
  border-radius: $global-radius;

  input[type="radio"] {
    margin-right: 10px;
    margin-left: 2px;
  }
  label {
    font-weight: inherit;
    .grayed-out {
      color: #999;
    }
  }
}
.contributors-column {
  padding-left: 1.85em;

  .font-large {
    font-size: 2.5em;
    font-weight: 300;
    margin-top: .3em;
    margin-bottom: -.1em;
  }
  .font-small {
    margin-top: .3em;
  }
}
.row.project-tasks {
  margin-top: 1em;
}

.row.project-settings {
  margin-bottom: .5em;
}

.coin-numbers {
  font-size: 1.7em;
}

#award_description {
  margin-bottom: 0;
}

.stripe-button-el {
  background-image: none !important;
  background-color: #0066FF !important;
  border-radius: 2px !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  font-family: Raleway !important;
}

.stripe-button-el span {
  background-image: none !important;
}
