.projects-show {
  .callout.flash-msg {
    margin-top: 20px;
  }
  #award-percentages svg {
    overflow: overlay;
  }
}
.award-types {
  margin-bottom: 15px;
}

.project-head {
  width: 100%;
  margin: 1em 0 0 0;
  padding: 1em;
}
.project-title {
  a.edit {
    margin-left: 1em;
  }
}
.project-image {
  iframe {
    width: 100%;
    height: 20em;
  }
  width: 100%;
  height: auto;
}
.project-body {
  width: 100%;
  margin: 1em 0 0 0;
  padding: 1em;

  h3 {
    margin-bottom: .5em;
  }
}

.contributors-column {
  padding-left: 1.85em;

  .font-large {
    font-size: 2.5em;
    font-weight: 300;
    margin-top: .3em;
    margin-bottom: -.1em;
  }
  .font-small {
    margin-top: .3em;
  }
}
.row.project-tasks {
  margin-bottom: 1em;
}
.project-tasks div {
  display: inline-block;
  min-width: 210px;
  padding-left: 15px;
}

.row.project-settings {
  margin-bottom: .5em;
}

.coin-numbers {
  font-size: 1.7em;
}

#award_description {
  margin-bottom: 0;
}

.content {
  margin-bottom: 1em;
}

.awarded-info-header {
  h1, h2, h3 {display: inline;}

  padding: 5px 10px 0px 0px;

  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px;

  font-size: .8em;
}

.description-stats {
  li {
    margin-bottom: 2em;
    vertical-align: top;
    text-indent: 0em;
  }
  span {
    display: inline;
    margin-right: 5px;
  }
  span.balance-type {
    font-size: 13px;
  }
}

.project-terms {
  .column {
    width: 150px;
    height: 75px;
    border: solid 1px $iron;
  }
}

h4 {
  border-bottom: 1px solid $iron;
  margin-bottom: 10px;
}

form {
  margin-right: 25px;
}

