@import 'variables';
@import 'fonts';
@import 'functions';
@import 'extensions';
@import 'header';

body {
  background-color: white;
}

.text-primary {
  color: $palate1-primary;
}

.text-alert {
  color: $palate1-alert;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.app-container.row {
  padding: rem-calc(20);
}

.app-container {
  @include grid-row($behavior: collapse);
}

.app-nav {
  @include grid-column($columns: 12);
  @include padding-leader(.5);
  background: $primary-color;
  li a:not(.button){
    color: white;
  }
}

.app-content {
  @include grid-column($columns: 12);
  @include padding-leader(.5);
}

.app-content-wide {
  @include grid-column($columns: 12);
  @include padding-leader(.5);
}

.app-aside {
  @include grid-column($columns: 12);
  @include padding-leader(.5);
  background: darken($vapor, 15);
}

@media #{$medium-up} {
  .app-container {
    max-width: none;
  }
  .app-nav {
    @include grid-column($columns: 2);
  }
  .app-content {
    @include grid-column($columns: 6);
  }
  .app-content-wide {
    @include grid-column($columns: 10);
  }
  .app-aside {
    @include grid-column($columns: 4);
  }
}

.button.bordered {
  border: solid 2px $snow;
}

.landing-quote {
  @extend %palate-white-on-green;

  blockquote, cite {
    color: $snow;
  }

  blockquote {
    @extend %blockquote-grande;
  }
}

.landing-description {
  @extend %palate-green-on-white;
}

.top-bar-section ul li > a {
  @extend %chunko-text;
  text-align: right;
  padding-right: 15px;
}

.alert-box.flash-msg {
  margin-bottom: 0;
}

.logo {
  width: rem-calc(90);
  height: auto;
  padding: $topbar-height/6 0 $topbar-height/5 0;
  max-height: $topbar-height;
}

.background-cover {
  background-size: cover;
  height: 700px;

  .inner-background-cover {
    @extend %clear-panel;
    @extend .text-center;
  }
}

.take-action-background {
  @extend %clear-panel;
  @extend form;
}

a .button, a .button.take-action {
  @extend %chunko-text;
  color: $snow;
}

form.take-action-form p.notice {
  color: $snow;
}

.margin-small {

}

.award-row .header {
  font-weight: bold;
  text-transform: uppercase;
}

.award-row.header-row {
  border-bottom: 1px solid $iron;
  margin-bottom: 15px;
  padding: 5px;
}

.underlined-header {
  border-bottom: 1px solid $iron;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

.text-light-gray {
  color: lightgrey;
}

.alert-box .close {
  color: white;
}

.form-box {
  padding: 20px;
}

.underline {
  text-decoration: underline;
}

.centered {
  text-align: center;
}

.font-large {
  font-size: $font-size-large;
}

.font-medium {
  font-size: $font-size-medium;
}

.font-small {
  font-size: $font-size-small;
}
.projects-landing h2 {
//  margin-top: 1em;
// margin-bottom: .7em;
 font-size: 35px;
}
.row.project {
  margin-bottom: 1.5em;

  .image-block {
    overflow: hidden;
    width: 250px;
    height: 220px;
    margin-bottom: 1em;
    img {
      min-height: 250px;
    }
  }
  h5 {
    margin-bottom: 0;
    margin-top: 0em;
  }
}
.row.project-body {
  margin-top: 2.6em;
  h3 {
    margin-bottom: .5em;
  }
}
.alert-box {
  margin-bottom: 1em;
  margin-top: -.3em;
  background-color: #E3FFB3;
  border: 0;
  color: #4CA941;
  font-size: 18px;
  padding: 14px 20px;
}
.award-types input[type="radio"] {
  margin-right: 10px;
}
.award-send {
  border: 1px solid #ccc;
  padding: 20px 50px;
}
.project-image {
  margin-top: 1.2em;
}
.row.project-tasks {
  margin-top: 1em;
}
.row.project-settings {
  margin-bottom: .5em;
}
.project-icon {
  float: left;
  margin-right: 10px;
  height: 2rem;
  margin-top: 1.2rem;
}

.top-bar-text {
  line-height: 4.3rem;
  background-color: white
}