@import 'extensions';
@import 'header';

body {
  background-color: white;
}

.text-primary {
  color: $primary-color;
}

.text-alert {
  color: $alert-color;
}

.app-container {
  @include grid-row($behavior: collapse);
}

.app-nav {
  @include grid-column($columns: 12);
  @include padding-leader(.5);
  background: $primary-color;
  li a:not(.button) {
    color: white;
  }
}

.intro {
  color: white;
  height: 39em;
  text-align: center;
  overflow: hidden;
  position: relative;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transition: 10s opacity;
    z-index: -100;
  }
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    @include filter-gradient(#5d1ea5, #5d1ea5, vertical);
    @include background-image(linear-gradient(top, rgba(93,30,165,0) 0%, rgba(93,30,165,0) 20%, rgba(94,30,165,1) 100%));
    z-index: -98;
  }
  .overlay2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @include filter-gradient(#e003fa, #750786, vertical);
    @include background-image(linear-gradient(top, rgba(224,3,250,0.38) 0%, rgba(117,7,134,0.12) 100%));
    z-index: -95;

  }
  .intro-content {
    z-index: 100;
    margin-top: 14.5rem;
    h3 {
      color: white;
      font-size: 3.7em;
      margin-bottom: .6em;
      font-weight: 400;
      line-height: 125%;
    }
    .button {
      text-transform: lowercase;
      font-size: .9rem;
      font-weight: 500;
      padding: 1.2em 2em;
      @include box-shadow(0px 1px 1px 0px rgba(0, 0, 0, 0.3));
    }
  }
}

.how-it-works {
  background: #52008D;
  color: white;
  padding: 1.5em 0 1.5em;
  margin-bottom: 2em;

  h4, p {
    margin-left: 60px;
    margin-right: 30px;
  }
  h4 {
    color: white;
    font-size: rem-calc(30px);
    text-transform: lowercase;
  }
  p {
    font-size: rem-calc(14px);
  }
  .number {
    float: left;
    background: $primary-color;
    padding: rem-calc(5px 13px 8px);
    border-radius: rem-calc(50px);
    font-size: rem-calc(22px);
    display: inline-block;
    margin-top: .35em;
    @include box-shadow(0px 1px 2px 1px rgba(0, 0, 0, 0.3));
  }
}

.app-content {
  @include grid-column($columns: 12);
  @include padding-leader(.5);
}

.app-content-wide {
  @include grid-column($columns: 12);
  @include padding-leader(.5);
}

.app-aside {
  @include grid-column($columns: 12);
  @include padding-leader(.5);
  background: darken($vapor, 15);
}

@media #{$medium-up} {
  .app-container {
    max-width: none;
  }
  .app-nav {
    @include grid-column($columns: 2);
  }
  .app-content {
    @include grid-column($columns: 6);
  }
  .app-content-wide {
    @include grid-column($columns: 10);
  }
  .app-aside {
    @include grid-column($columns: 4);
  }
}

.button.bordered {
  border: solid 2px $snow;
}

.top-bar-right ul li > a {
  @extend %chunko-text;
  text-align: right;
  padding-right: 15px;
}

.alert-box.flash-msg {
  margin-bottom: 20px;
}

.logo {
  width: rem-calc(90);
  height: auto;
  padding: $topbar-height/6 0 $topbar-height/5 0;
  max-height: $topbar-height;
}

a .button, a .button.take-action {
  @extend %chunko-text;
  color: $snow;
}

form.take-action-form p.notice {
  color: $snow;
}

.award-rows .header {
  font-weight: bold;
  text-transform: uppercase;
}

.award-rows .header-row {
  border-bottom: 1px solid $iron;
  margin-bottom: 15px;
  padding: 5px;
}

.underlined-header {
  border-bottom: 1px solid $iron;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

.text-light-gray {
  color: lightgrey;
}

.alert-box .close {
  color: black;
}

.form-box {
  padding: 20px;
}

.underline {
  text-decoration: underline;
}

.centered {
  text-align: center;
}

.font-large {
  font-size: $font-size-large;
}

.font-medium {
  font-size: $font-size-medium;
}

.font-small {
  font-size: $font-size-small;
}

.font-tiny {
  font-size: $font-size-tiny;
}

.projects-landing .app-container {
  h2, h1 {
    font-size: 35px;
  }
}

.row.project {
  margin-bottom: 1.5em;

  .image-block {
    overflow: hidden;
    width: 250px;
    height: 188px;
    margin-bottom: 1em;
    img {
      min-height: 188px;
      border: 3px solid #eee;
    }
  }
  h5 {
    margin-bottom: 0;
    margin-top: 0em;
  }
}

.row.project-body {
  margin-top: 2.6em;
  h3 {
    margin-bottom: .5em;
  }
}

.alert-box {
  margin-bottom: 1em;
  margin-top: -.3em;
  background-color: #E3FFB3;
  border: 0;
  color: #4CA941;
  font-size: 18px;
  padding: 14px 20px;
}

.award-types input[type="radio"] {
  margin-right: 10px;
}

.award-send {
  border: 1px solid #ccc;
  padding: 20px 50px;
}

.project-image {
  margin-top: 1.2em;
}

.row.project-tasks {
  margin-top: 1em;
}

.row.project-settings {
  margin-bottom: .5em;
}

.project-icon {
  float: left;
  margin-right: 10px;
  height: 2rem;
  margin-top: 1.2rem;
}

.top-bar-text {
  line-height: 4.3rem;
  background-color: white
}

.project-search {
  div {
    padding: 0;
  }
}

.project-highlighted {
  background-color: $orchid;
}
