.row.project {
  margin: .2em 0em 2.5em .2em;
  @include box-shadow(0px 1px 1px 1px rgba(0,0,0,0.12));

  .image-block {
    display: block;
    width: 100%;
    height: 15em;
    position: relative;
    background-size: cover;
    background-position: center center;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @include filter-gradient(#000000, #000000, vertical);
      @include background-image(linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.55) 100%));
    }
  }
  .project-last-award {
    font-style: italic;
    font-weight: 300;
    margin-bottom: .4em;
    color: #aaa;
  }
  .info {
    padding: 1em;
    padding-bottom: 2.3em;
    position: relative;

    .text-overlay {
      position: absolute;
      left: 85px;
      top: -55px;
      color: white;

      a {
        color: white;
      }
      i {
        font-size: .8em;
      }
      h5 {
        margin: 0;
        font-weight: 600;
        margin-bottom: -.2em;
      }
    }

    .icon {
      border: 2px solid white;
      position: absolute;
      left: 1em;
      top: -49px;
      height: 55px;
      @include box-shadow(0px 1px 1px 1px rgba(0,0,0,0.12));
    }
    p {
      font-size: 13px;
      line-height: 1.3;
      font-weight: 500;
      margin-bottom: .5em;
    }
    .description {
      min-height: 2.5em;
    }
    .description.no-last-award {
      min-height: 4.2em;
    }
  }

  .contributors {
    display: inline-block;
    float: right;
    .contributor {
      margin-left: 6px;
      max-width: 21px;
    }
  }
}
