@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,100,200,300,500,600,700,800,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic);

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: asset-url('Montserrat/Montserrat-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'MontserratBold';
  font-weight: normal;
  src: asset-url('Montserrat/Montserrat-Bold.ttf')  format('truetype')
}

@font-face {
  font-family: 'MontserratSemiBold';
  font-weight: normal;
  src: asset-url('Montserrat/Montserrat-SemiBold.ttf')  format('truetype')
}

@font-face {
  font-family: 'MontserratLight';
  font-weight: normal;
  src: asset-url('Montserrat/Montserrat-Light.ttf')  format('truetype')
}

@font-face {
  font-family: 'MontserratItalic';
  font-weight: normal;
  src: asset-url('Montserrat/Montserrat-Italic.ttf')  format('truetype')
}

@font-face {
  font-family: 'MontserratRegular';
  font-weight: normal;
  src: asset-url('Montserrat/Montserrat-Regular.ttf')  format('truetype')
}
// Colors

$primary-color: #0066FF;
$secondary-color: #e7e7e7;
$alert-color: red;
$success-color: #6CB144;
$warning-color: #f08a24;
$info-color: #a0d3e8;
$error-color: #DB0877;

$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$iron        : #CCCCCC;
$mediumgray  : #999999;
$steel       : #666666;
$orchid      : #F7EEF7;
$palegray    : #F5F5F5;
$skyblue     : #2199E8;

$body-bg: $snow;
$body-font-color: $steel;
$header-font-color: $steel;
$global-radius: 2px;

// Fonts

$body-font-family: Roboto, Raleway, Lato, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$header-font-family: MontserratBold, Roboto, Raleway, Lato, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$global-weight-normal: 475;
$global-weight-bold: 775;

$font-size-large: 16pt;
$font-size-medium: 14pt;
$font-size-small: 12pt;
$font-size-tiny: 11pt;

// Forms
$input-font-family: inherit;

// Panels

$panel-padding: rem-calc(20);

// Top bar

$topbar-background: white;
$topbar-height: rem-calc(70);
$topbar-link-dropdown-padding: ($topbar-height / 3);

// Buttons

$button-background: $skyblue;
$button-radius: $global-radius;
