$palate1-primary: black;
$palate1-alert: red;


// This is the new awesome, please use and add to these - Glenn

$font-size-header-large: 18pt;
$font-size-header-medium: 16pt;
$font-size-header-small: 14pt;

$font-size-large: 16pt;
$font-size-medium: 14pt;
$font-size-small: 12pt;