:root {
  --primary-purple: #5037f7;
  --primary-blue: #0089f4;
  --primary-pink: #fb40e5;
  --dark-indigo: #201662;
  --black: #3a3a3a;
  --light-grey-blue: #b0b9be;
  --cool-grey: #98a2aa;
  --greyish-brown: #4a4a4a;
}

body {
  background-color: rgb(27, 39, 45);
}

.body--overflow {
  overflow: hidden;
}

.app-container,
.callout {
  background-color: white;
}

.callout.alert,
.callout.notice {
  background-color: white;
  margin: 45px 0px 45px 0px;
  font-size: 18px;
  padding: 0.5rem;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  background: white;
  color: #3a3a3a;
  padding: 25px;
  box-shadow: 0 5px 10px 0 rgba(32, 22, 98, .1);
}

.close-button {
  right: 2rem;
  top: 1rem;
}

.pagination {
  padding: 10px 0px;
}

.header {
  z-index: 1;
  min-height: 90px;
  box-shadow: 0 5px 10px 0 rgba(32, 22, 98, .1);
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-mobile {
  display: none;
}

.header--logo {
  padding: 20px;
}

.header--nav--links {
  display: flex;
  flex-wrap: wrap;
}

.header--nav--links a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--greyish-brown);
  padding: 39px 25px 36px 25px;
  border-left: 1px solid rgba(237, 241, 242, 0.5);
  display: inline-block;
  min-width: 108px;
}

a.header--nav--links--current {
  font-weight: bold;
  color: var(--primary-blue);
  border-bottom: 4px solid;
}

.footer {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #e8eff7;
  padding: 70px 150px 0px 150px;
  background-color: rgba(10, 27, 36, 1);
}

.footer--logo {
  height: 40px;
}

.footer--content {
  margin-top: 29px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer--content--text {
  max-width: 448px;
  font-size: 14px;
  opacity: 0.6;
  text-align: justify;
  -webkit-hyphens: auto;
  margin-bottom: 60px;
  margin-right: 20px;
}

.footer--content--nav {
  display: flex;
  text-transform: capitalize;
}

.footer--content--nav a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
  line-height: 3;
  color: #e8eff7;
}

.footer--content--nav--about,
.footer--content--nav--join,
.footer--content--nav--legal {
  display: flex;
  flex-direction: column;
  margin-left: 47px;
}

@media screen and (max-width: 650px) {
  .footer--content--nav {
    flex-direction: column;
  }
  .footer--content--nav--about,
  .footer--content--nav--join,
  .footer--content--nav--legal {
    margin-left: 0;
    margin-bottom: 40px;
  }
}

.footer--content--nav--about {
  margin-left: 0;
}

.footer--content--nav--about--header,
.footer--content--nav--join--header,
.footer--content--nav--legal--header {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
  color: #ffffff;
  margin-bottom: 9px;
}

.footer--copyright {
  background-color: var(--black);
  color: #e8eff7;
  font-size: 12px;
  text-align: center;
  padding: 23px 23px 23px 23px;
  opacity: 0.4;
  margin: 80px -150px 0px -150px;
}

.footer--content--nav a:hover,
.footer--content--nav a:focus {
  text-decoration: underline;
}

.header--nav--links a:hover,
.header--nav--links a:focus {
  text-decoration: underline;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 90px 75px 0 75px;
  }
  .footer--copyright {
    margin: 80px -75px 0px -75px;
  }
}

@media screen and (max-width: 650px) {
  .layout--content {
    padding: 25px 20px 25px 20px;
  }

  .layout--subfooter--buttons {
    padding: 26px 20px 24px 15px;
  }

  .footer {
    padding: 70px 30px 0px 30px;
  }

  .footer--copyright {
    margin: 80px -30px 0px -30px;
  }

  .footer--content--nav {
    display: block;
  }

  .footer--content--nav--about,
  .footer--content--nav--join,
  .footer--content--nav--legal {
    margin-left: 0;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    display: none;
  }

  .header-mobile {
    z-index: 3;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 0 33px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
  }

  .header-mobile__menu-icon {
    position: absolute;
    right: 33px;
    height: 50px;
    width: 24px;
    cursor: pointer;
    z-index: 2;
  }

  .header-mobile__menu-icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: var(--greyish-brown);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 24px;
    height: 1.6px;
    border-radius: 3px;
    background-color: var(--greyish-brown);
  }

  .header-mobile__menu-icon span::before,
  .header-mobile__menu-icon span::after {
    width: 24px;
    height: 1.6px;
    position: absolute;
    display: block;
    content: '';
    border-radius: 3px;
    background-color: var(--greyish-brown);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .header-mobile__menu-icon span::before {
    top: -9px;
    left: 50%;
    margin-left: -12px;
  }

  .header-mobile__menu-icon span::after {
    bottom: -9px;
    left: 50%;
    margin-left: -12px;
  }

  .header-mobile__menu-icon span.active {
    background: white;
  }

  .header-mobile__menu-icon span.active::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 1px;
  }

  .header-mobile__menu-icon span.active::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 1px;
  }

  .header-mobile__menu {
    position: fixed;
    box-sizing: border-box;
    left: 0;
    top: 60px;
    width: 100%;
    bottom: 0;
    background: white;
    padding-top: 60px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .header--nav--links {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: solid 1px #edf1f2;
  }

  .header--nav--links a {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 0 32px;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
    border-bottom: solid 1px #edf1f2;
  }

  a.header--nav--links--current {
    color: var(--primary-blue);
    font-weight: bold;
    padding-left: 28px;
    border-left: solid 4px;
  }

  .header--nav--links--sign {
    display: none !important;
  }

  .header-mobile__menu__sign {
    position: absolute; 
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-top: solid 1px #edf1f2;
  }

  .header-mobile__menu__sign a {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    height: 60px;
    padding: 0 32px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
  }

  .header-mobile__menu__sign .header--nav--links--current {
    color: var(--primary-blue);
    font-weight: bold;
    border-left: solid 4px !important;
    border-bottom: none;
  }

  .header-mobile__menu__sign a:last-child {
    border-left: solid 1px #edf1f2;
  }

  .header-mobile__menu__sign a:hover,
  .header-mobile__menu__sign a:focus,
  .header-mobile__menu__sign a:active {
    text-decoration: underline;
  }
}
