:root {
  --primary-purple: #5037f7;
  --primary-blue: #0089f4;
  --primary-pink: #fb40e5;
  --dark-indigo: #201662;
  --black: #3a3a3a;
  --light-grey-blue: #b0b9be;
  --cool-grey: #98a2aa;
  --greyish-brown: #4a4a4a;
}

body {
  background-color: rgb(27, 39, 45);
}

.app-container,
.callout {
  background-color: white;
}

.callout.alert,
.callout.notice {
  background-color: white;
  margin: 45px 0px 45px 0px;
  font-size: 18px;
  padding: 0.5rem;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  background: white;
  color: #3a3a3a;
  padding: 25px;
  box-shadow: 0 5px 10px 0 rgba(32, 22, 98, .1);
}

.close-button {
  right: 2rem;
  top: 1rem;
}

.pagination {
  padding: 10px 0px;
}

.header {
  min-height: 90px;
  box-shadow: 0 5px 10px 0 rgba(32, 22, 98, .1);
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header--logo {
  padding: 20px;
}

.header--nav--links {
  display: flex;
  flex-wrap: wrap;
}

.header--nav--links a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--greyish-brown);
  padding: 39px 25px 36px 25px;
  border-left: 1px solid rgba(237, 241, 242, 0.5);
  display: inline-block;
  min-width: 108px;
}

a.header--nav--links--current {
  font-weight: bold;
  color: var(--primary-blue);
  border-bottom: 4px solid;
}

.footer {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #e8eff7;
  padding: 70px 150px 0px 150px;
  background-color: rgba(10, 27, 36, 1);
}

.footer--logo {
  height: 40px;
}

.footer--content {
  margin-top: 29px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer--content--text {
  max-width: 448px;
  font-size: 14px;
  opacity: 0.6;
  text-align: justify;
  -webkit-hyphens: auto;
  margin-bottom: 30px;
  margin-right: 20px;
}

.footer--content--nav {
  display: flex;
  text-transform: capitalize;
}

.footer--content--nav a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
  line-height: 3;
  color: #e8eff7;
}

.footer--content--nav--about,
.footer--content--nav--join,
.footer--content--nav--legal {
  display: flex;
  flex-direction: column;
  margin-left: 47px;
}

.footer--content--nav--about {
  margin-left: 0;
}

.footer--content--nav--about--header,
.footer--content--nav--join--header,
.footer--content--nav--legal--header {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
  color: #ffffff;
  margin-bottom: 9px;
}

.footer--copyright {
  background-color: var(--black);
  color: #e8eff7;
  font-size: 12px;
  text-align: center;
  padding: 23px 23px 23px 23px;
  opacity: 0.4;
  margin: 80px -150px 0px -150px;
}

.footer--content--nav a:hover,
.footer--content--nav a:focus {
  text-decoration: underline;
}

.header--nav--links a:hover,
.header--nav--links a:focus {
  text-decoration: underline;
}
