---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/v2/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"catchpoint":"","catchpoint-acquired-blocks":0,"catchpoint-processed-accounts":0,"catchpoint-total-accounts":0,"catchpoint-total-blocks":0,"catchpoint-verified-accounts":0,"catchup-time":0,"last-catchpoint":"14060000#NXSU3UMKRU5SEVPCL2QUWQC3XSNB7MY3Z6CSIIZLKZYLVKASJHTQ","last-round":14067647,"last-version":"https://github.com/algorandfoundation/specs/tree/d050b3cade6d5c664df8bd729bf219f179812595","next-version":"https://github.com/algorandfoundation/specs/tree/d050b3cade6d5c664df8bd729bf219f179812595","next-version-round":14067648,"next-version-supported":true,"stopped-at-unsupported-round":false,"time-since-last-round":605230008}

'
  recorded_at: Mon, 10 May 2021 19:00:41 GMT
recorded_with: VCR 5.1.0
