---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/v2/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"catchpoint":"","catchpoint-acquired-blocks":0,"catchpoint-processed-accounts":0,"catchpoint-total-accounts":0,"catchpoint-total-blocks":0,"catchpoint-verified-accounts":0,"catchup-time":0,"last-catchpoint":"11220000#R5KO5LRPBS2GM2BI4LZWEDWH4MB5UC2A2EUOOXGKSUY6XCQY4LGQ","last-round":11228961,"last-version":"https://github.com/algorandfoundation/specs/tree/3a83c4c743f8b17adfd73944b4319c25722a6782","next-version":"https://github.com/algorandfoundation/specs/tree/3a83c4c743f8b17adfd73944b4319c25722a6782","next-version-round":11228962,"next-version-supported":true,"stopped-at-unsupported-round":false,"time-since-last-round":1937204535}

        '
  recorded_at: Mon, 21 Dec 2020 11:59:46 GMT
recorded_with: VCR 5.1.0
