---
http_interactions:
- request:
    method: post
    uri: https://staging.service.oreid.io/api/custodial/new-user
    body:
      encoding: UTF-8
      string: '{"name":"Eva Smith","user_name":"hunter-29e3e791666d5b539ab90fde6938df15c26ef55f","email":"me+e03263b2c9ee235e34332db4cc6174fbbc5e7e28@example.com","picture":null,"user_password":"2d3d80dd3c1ce3315b7c3a96574e987f6d4ac162dd40aec6618ecf481fb11a34!","phone":"","account_type":"native"}'
    headers:
      Api-Key:
      - ENV[ORE_ID_API_KEY]
      Service-Key:
      - ENV[ORE_ID_SERVICE_KEY]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"39-yRU1gzFUzwBcP7hK1Z0UpUhTF9M"
    body:
      encoding: ASCII-8BIT
      string: '{"processId":"393db909cb55","accountName":"ore1rmtumbzt"}'
  recorded_at: Fri, 19 Mar 2021 00:55:23 GMT
- request:
    method: get
    uri: https://staging.service.oreid.io/api/account/user?account=ore1rmtumbzt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - ENV[ORE_ID_API_KEY]
      Service-Key:
      - ENV[ORE_ID_SERVICE_KEY]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"394-YI/Ip82dJmSDhsdkPBPQ/f0Zy9A"
    body:
      encoding: ASCII-8BIT
      string: '{"processId":"f56a1c6b113d","accountName":"ore1rmtumbzt","email":"me+e03263b2c9ee235e34332db4cc6174fbbc5e7e28@example.com","picture":null,"name":"Eva
        Smith","username":"hunter-29e3e791666d5b539ab90fde6938df15c26ef55f","permissions":[{"chainNetwork":"algo_test","chainAccount":"ZKZRPQUL42ITB7EVJL6LYP3HSN62MQUIJTTKGIONICUEEAIGBDCHMJLJFM","permissionName":"active","publicKey":"cab317c28be69130fc954afcbc3f67937da642884ce6a321cd40a842010608c4","privateKeyStoredExterally":false,"externalWalletType":null,"accountType":"native","permission":"active"},{"chainNetwork":"eth_ropsten","chainAccount":"0xa39e6f41186b4dec47ea9b08ef3d16fb02fea33c","permissionName":"active","publicKey":"0xa636706cc3b051c1ecec184f5d19172b08ecc39e548c9683675074ef61afd67d0e7292bc8f4886694c55fbfcb996743ee952e85b00b5bc91911d32b1bba21e8c","privateKeyStoredExterally":false,"externalWalletType":null,"accountType":"native","permission":"active"}]}'
  recorded_at: Fri, 19 Mar 2021 00:55:23 GMT
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/accounts/ZKZRPQUL42ITB7EVJL6LYP3HSN62MQUIJTTKGIONICUEEAIGBDCHMJLJFM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"message":"no accounts found for address: ZKZRPQUL42ITB7EVJL6LYP3HSN62MQUIJTTKGIONICUEEAIGBDCHMJLJFM"}

'
  recorded_at: Fri, 19 Mar 2021 00:55:23 GMT
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/idx2/v2/accounts/ZKZRPQUL42ITB7EVJL6LYP3HSN62MQUIJTTKGIONICUEEAIGBDCHMJLJFM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"message":"no accounts found for address: ZKZRPQUL42ITB7EVJL6LYP3HSN62MQUIJTTKGIONICUEEAIGBDCHMJLJFM"}

'
  recorded_at: Fri, 19 Mar 2021 00:55:23 GMT
recorded_with: VCR 5.1.0
